In [7]:
thistple = ("apple", "banana", "cherry", "orange")

thistple = tuple(("apple", "banana", "cherry", "orange"))

In [5]:
print(thistple[1]) 
print(thistple[-1]) 
print(thistple[2:5])
print(thistple[:4])
print(thistple[2:])
print(thistple[-4:-1])

banana
orange
('cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange')
('apple', 'banana', 'cherry')

In [6]:
for x in thistple:
  print(x)

apple
banana
cherry
orange

In [8]:
len(thistple)

4

In [10]:
"apple" in thistple

True

In [ ]:
# Join tuple

In [13]:
# Tupple Example
abc = ("a", "b" , "c")
xyz = (1, 2, 3)

ddd = abc + xyz 
print(ddd)

('a', 'b', 'c', 1, 2, 3)

In [ ]:

# Creating a tuple with a single element (note the trailing comma)
single_element_tuple = (5,)

In [ ]:
# Creating a tuple from a list
list_to_tuple = tuple([1, 2, 3])

In [ ]:
# Creating an empty tuple
empty_tuple = ()

In [2]:
# Concatenating tuples
tuple1 = (1, 2)
tuple2 = (3, 4)
concatenated = tuple1 + tuple2  # Output: (1, 2, 3, 4)

In [3]:
# Checking if an element is in a tuple
2 in tuple1  # Output: True

True

In [4]:
5 in tuple1  # Output: False

False

In [11]:
# Finding the index of an element
thistple = ("apple", "banana", "cherry", "orange")

thistple.index("banana")  # Output: 1

1

In [9]:
# Counting occurrences of an element
thistple = ("apple", "banana", "cherry", "orange")

thistple.count("apple")  # Output: 1

1

In [13]:
# Sorting a tuple by converting to a list
sorted(thistple)  # Requires tuple elements to be comparable

['apple', 'banana', 'cherry', 'orange']

In [16]:
# Reversing a tuple by converting to a list
tuple(reversed(thistple))

('orange', 'cherry', 'banana', 'apple')