# Use of list Comprehension

In [3]:
'Create copy of a new list from existing list'

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_List = []

for i in fruits:
    new_List.append(i)
    
new_List

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [5]:
'''Using List Comprehension'''
#[exp   for x in iterable]

newList = [x for x in fruits]

In [9]:
# take a Range from 1 to 10 
# and Multiply with Two, if that number Even Number

for x in range(1,10):
    if x %2 ==0:
        print(x * 2)

4
8
12
16

In [12]:
# take a Range from 1 to 10 
# and Multiply with Two, if that number Even Number


# [exp    for x in iterable        if condition  ]

  [x*2    for x in range(1,10)     if x%2==0]

[4, 8, 12, 16]

In [ ]:
#         [exp   for i in iterable]
newList = [i      for i in fruits]
newList

In [18]:
'Create New a New list which has "a" in common'

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newList = []

for x in fruits:
    if 'a' in x:
       newList.append(x) 
newList

['apple', 'banana', 'mango']

In [10]:
'create New a New list which "a" in common using List comprehension'

# [exp    for i in iterable       if condition  ]

['apple', 'banana', 'mango']

In [ ]:
newlistWithA2 = [x for x in fruits if "a" in x]
newlistWithA2

In [16]:
# Home works
# Generate a new list containing the squares of the numbers in the list [1, 2, 3, 4, 5, 6, 7]
listOne = [1, 2, 3, 4, 5, 6, 7]
newList1 = []

for i in listOne:
    newList1.append(i**2)

newList1

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# [exp   iteration ]

newList = [x**2 for i in listOne]

newList

In [20]:
# Create a new list of squared of each Even_Number
listOne = [1, 2, 3, 4, 5, 6, 7]

newListSq = []

for i in listOne:
    if i%2==0:
        newListSq.append(i**2)
        
print(newListSq)

[4, 16, 36]

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]


# Using list comprehension to create a new list of squared of Even Number

oddNumberSqure = [i**2 for i in listOne if i%2 == 0]
oddNumberSqure

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]

# Using list comprehension to create a new list of squared of ODD Number

oddNumberSqure = [i**2 for i in listOne if i%2 != 0]
oddNumberSqure

In [27]:
# 
# Example: Filtering numbers less than 3 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7]
newLIST = []


for x in numbers:
    if x < 3 or x > 5:
        newLIST.append(x)

newLIST

[1, 2, 6, 7]

In [30]:
# Use of List Comprhension
# Example: Filtering numbers less than 3 or greater 5
[x for x in numbers if x <3 or x>5]

[1, 2, 6, 7]

In [ ]:
listOne = [0,1,2,3,4,5,6]
x  if x<3     else   x   if x>5  else

In [31]:
# Example: Print Square of numbers which are less than 3 or greater 5 using list comprehension
#[exp     for x in iterable	   if cond1 	       cond2 ...  ]

[x**2 for x in numbers if x <3 or x>5]

[1, 4, 36, 49]

In [ ]:
listOne = [1,2,3,4,5,6]

[x**2 for x in listOne if x <3  or  x>5]

[x**2 for x in listOne if x <3 ]

for x in listOne:
    if x < 3:
        print(x**2)

In [13]:
listOne = [0,1,2,3,4,5,6]

[x**2 if x<3 or x>5 else x for x in listOne]

[0, 1, 4, 3, 4, 5, 36]

In [14]:
# Example: Print Square of numbers which are less than 3 or greater 5 using list comprehension
#[exp     for x in iterable	   if cond1 	       cond2 ...  ]

listOne = [0,1,2,3,4,5,6]

[x  for x in listOne if x % 2 == 0 and  x > 5   ]


if

[6]

In [23]:
[x  for x in listOne if x % 2 == 0  if x > 5   ]

[6]

In [3]:
#   multiply a Number by 2  if it is less or equal to 2 
#   devide a number   by 2  if it is less or equal to 4
#   else add with 2

listOne = [1,2,3,4,5,6,7]

for i in listOne:
    if i <=2:
        print(i*2)
    elif i<=4:
        print(i/2)
    else:
        print(i+2)

2
4
1.5
2.0
7
8
9

In [9]:
#   multiply a Number by 2  if it is less or equal to 2 
#   devide a number   by 2  if it is less or equal to 4
#   else add with 2

listOne = [1,2,3,4,5,6,7]

# [exp1  if cond1   else  exp2 if cond2    else exp3     for x in iterable]

[i*2 if i<=2 else i/2 if i<=4 else i+2 for i in listOne ]

[2, 4, 1.5, 2.0, 7, 8, 9]

In [13]:


''' if j in string print the  string
    if n in string print that string
    if p in string print that string'''

list01 = ['Rajesh','Sunil','Praveen',"mauli"]


for x in list01:
    if 'j' in x:
        print(x)
    elif 'n' in x:
        print(x)
    elif 'p' in x:
        print(x)

Rajesh
Sunil
Praveen

In [17]:
''' if j in string print the  string
    if n in string print that string
    if p in string print that string'''

list01 = ['Rajesh','Sunil','Praveen',"mauli"]

[x if 'j' in x else x if 'n' in x else x if 'p' in x else "" for x in list01]

['Rajesh', 'Sunil', 'Praveen', '']

In [12]:
# [exp1  if cond1   else  exp2 if cond2    else exp3     for x in iterable]
[x*2   if x<=2     else  x/2 if x<=4       else x+2      for x in listOne]

[0, 2, 4, 1.5, 2.0, 7, 8]

In [107]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7]
filtered_numbers = [x for x in numbers if x <= 3 or x > 5]
print(filtered_numbers)

[1, 2, 3, 6, 7]