In [4]:
# IF condition
# check Value
# please check if the value is less than or equal to 10

i = 12

if i<=10:
    print("Values is less Than 10")
elif i<=15:
    print("Values is less Than 15")
else:
    print("Value is greter than 15")

Values is less Than 15

In [9]:
# check if the the given is infant <=2 child <=15 or Adult or old person(greater than 55)

age = 100

if age<=2:
    print("Infant")
elif age<=15:
    print("Child")
else:
    print("Adult")

Adult

In [ ]:
HOmework
# create two examples of if coditions
# print "sunil" 15 times using while loop
# apply for loop on all sequence Datatype incuding range

In [2]:
'''IF Else'''
"check if the age is of infant"

# age less than or equal to 2 is infant

age = 2

if age <=2:
    print("Infant")
else:
    print("Not infant")

Infant

In [7]:
'''If Else'''
age = 56
'''
inf <=2
child<=12
adult>12
'''

if age <=2:
    print("INF")
elif age<=12:
    print("child")
elif age<=55:
    print("Adult")
else:
    print("Old Persion")

Old Persion

In [10]:
Stall_1 = 'pineapple'
Stall_2 = 'pineapple'



if Stall_1 == "pineapple":
    print("go home with pineapple from Stall_1")
elif Stall_2 == "pineapple":
    print("go home with pineapple from Stall_2")

else:
    print("pineapple Not Found")

pineapple Not Found

In [19]:
START = 1
END = 10
while START <=END:
    print('rajesh')
    START=START+1

rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh

In [25]:
i = 0

while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# For LOOP

# range
# sequence type, 
# list,tupple,string
# mapping type (key, Value)
# Dict
# Set type
# Set(unique,Unordered)

In [27]:
setOne = {1,2,3,4,5}

for i in tuppleOne:
    print(i)

1
2
3
4
5

In [28]:

name = "Rajesh"
for i in name:
    print(i)

R
a
j
e
s
h

In [30]:
newDict = {'name':"RAJESH","AGE":32}

for i in newDict.items():
    print(i)

('name', 'RAJESH')
('AGE', 32)

In [24]:
for i in range(2,10,3):
    print(i)

2
5
8

In [28]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [29]:
'''For Loops'''
fruits = ["apple", "banana", "cherry","kiwi"]

for i in fruits:
    print(i)

apple
banana
cherry
kiwi

In [30]:
numbers1 = [1,2,3,4,5,6,7,8]

for i in numbers1:
    print(i)

1
2
3
4
5
6
7
8

In [31]:
fruits = ("apple", "banana", "cherry","kiwi")
for i in fruits:
    print(i)

apple
banana
cherry
kiwi

In [40]:
# Dict
newDict = {'Name':"Rajesh","Age":"32","City":"Mumbai"}
# keys()
# values()
# itmes()

for i in newDict.keys():
    print(i)

Name
Age
City

In [33]:
range1 = range(1,5)
for x in range1:
  print(x)

1
2
3
4

In [4]:
# Create Functions
'''
inf <=2
child<=12
adult>12
'''

age = 56

def classifyAge(age):

    if age <=2:
        print("INF")
    elif age<=12:
        print("child")
    elif age<=55:
        print("Adult")
    else:
        print("Old Persion")

classifyAge(age)

Old Persion

In [5]:
# Create Functions
'''
inf <=2
child<=12
adult>12
'''

def classifyAge():
    age = 56
    if age <=2:
        print("INF")
    elif age<=12:
        print("child")
    elif age<=55:
        print("Adult")
    else:
        print("Old Persion")

classifyAge()

Old Persion

In [7]:
# Create Functions
'''
inf <=2
child<=12
adult>12
'''

Age = 56

def classifyAge(age):

    if age <=2:
        print("INF")
    elif age<=12:
        print("child")
    elif age<=55:
        print("Adult")
    else:
        print("Old Persion")

classifyAge(age=Age)

Old Persion