In [2]:
import re

#  full form of regex:regular expression
#  work with string , 
#  RE has more features, Fast
#  Scalability

# Search

In [ ]:
abc = "this is python python course"

pattern = "python"

value = re.search(pattern, abc)

print(value)
print(value.group())
bool(value.group())

# findall

In [4]:

abc = "this is python python course"
pattern = "python"

value = re.findall(pattern, abc)
value # iterable

['python', 'python']

# finditer

In [6]:

abc = "this is python python course"
pattern = "python"

value = re.finditer(pattern, abc)
value
# iterator

In [7]:
pattern = "python"
abc = "this is python python course"

value = re.finditer(pattern, abc)
for i in value:
    print(i)

<re.Match object; span=(8, 14), match='python'>
<re.Match object; span=(15, 21), match='python'>

In [12]:
pattern = "python"
abc = "this is python python course"

value = re.finditer(pattern, abc)

for i in value:
    print(i.group())

python
python

In [14]:
pattern = "python"
abc = "this is python python course"

value = re.finditer(pattern, abc)
for i in value:
    print(i.start(),i.end())

8 14
15 21

# split

In [15]:

abc = "this is python python course"
pattern = " "
re.split(pattern,abc)

['this', 'is', 'python', 'python', 'course']

In [21]:
abcOne = "this-is-python-python-course"
abcTwo = "this,is,python,python,course"
abcThree =  "this#is#python#python#course"
pattern = ","
re.split(pattern,abcTwo)

['this', 'is', 'python', 'python', 'course']

In [ ]:

abc = "this,is,python,python,course"

pattern = ","

re.split(pattern,abc)

# replace (sub)

In [22]:
# sub: Replaces one or many matches with a string
text = "The cat and the bat sat on the cat mat."
re.sub(r'cat', 'dog', text)

'The dog and the bat sat on the dog mat.'

# Sets

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th>Description</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">lower case character, alphabetically between a and n</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[a-n]</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">UPPER case character, alphabetically between A and N</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[A-N]</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">digit between 0 and 9</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[0-9]</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">character alphabetically between a and z, lower case OR upper case</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[a-zA-Z]</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">character alphabetically between a and z, lower case OR upper case with all numeric Numbers</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[a-zA-Z0-9]</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">Returns a match where one of the specified characters (a, r, or n) is present</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[arn]</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">Returns a match where any of the specified digits (0, 1, 2, or 3) are present</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733;">[0123]</td>
        </tr>
    </tbody>
</table>
       </tr>
    </tbody>
</table>

In [35]:
import re
aphaNumeric = "abcdef ABCDEF 123456789 abcdef ABCDEF"

pattern = "[^0-9]+"
re.findall(pattern,aphaNumeric)

['abcdef ABCDEF ', ' abcdef ABCDEF']

In [ ]:
pattern = "[^a-e]+"

re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[A-N]+"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[ace]"

re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[^a-e]+"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[a-cA-C]+"
re.findall(pattern,aphaNumeric)

In [ ]:
aphaNumeric = "abcdef ABCDEF 123456789 abcdef ABCDEF"

In [ ]:
pattern = "[^a-cA-C]+"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[1-5]+"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[^1-5]+"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[1-4]+"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[135]"
re.findall(pattern,aphaNumeric)

In [ ]:
pattern = "[a-zA-Z]+"
re.findall(pattern,aphaNumeric)

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th>Description</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">Except lower case from a to n characters.</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^a-n]</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">Except Upper case from A to N characters.</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^A-N]</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">Except digit between 0 and 9</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^0-9]</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">Except character from a to z, lower case OR upper case</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^a-zA-Z]</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">Non word (numeric and alpha char)</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^a-zA-Z0-9]</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">character EXCEPT a, r, and n</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^arn]</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">Except digits (0, 1, 2, or 3)</td>
            <td style="text-align: center; font-size: 16px; color: #FF5733; font-weight: bold;">[^0123]</td>
        </tr>
    </tbody>
</table>
       </tr>
    </tbody>
</table>

In [38]:
all_characters = "abcdefgh ABCDEFGH 0123456789 !@#$%^&*()-_=+[{]}\|;:'\",<.>/?`~"

pattern = "[^a-zA-Z0-9]+"
re.findall(pattern,all_characters)

[' ', ' ', ' !@#$%^&*()-_=+[{]}\\|;:\'",<.>/?`~']

# Special Sequence

<table style="width: 70%; border-collapse: collapse; margin: auto; text-align: left;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th style="text-align: left;">Description</th>
            <th style="text-align: left;">Character</th>
            <th style="text-align: left;">Example</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">Word boundary</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>b
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">
                r"<span style="color: red;">\</span>bRain"<br>
                r"Rain<span style="color: red;">\</span>b"<br>
                r"<span style="color: red;">\</span>bRain<span style="color: red;">\</span>b"
            </td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">Start with</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>A
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>AThe"</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">End with</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>Z
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"Spain<span style="color: red;">\</span>Z"</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">Digits (numbers from 0-9)</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>d
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>d"</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">String or non-digits</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>D
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>D"</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">White space</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>s
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>s"</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">Non-white space</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>S
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>S"</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333; text-align: left;">String contains any word characters (a-z, A-Z, 0-9, _)</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>w
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>w"</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333; text-align: left;">String DOES NOT contain any word characters</td>
            <td style="font-size: 16px; text-align: left;">
                <span style="color: red;">\</span>W
            </td>
            <td style="font-size: 16px; color: #333; text-align: left;">"<span style="color: red;">\</span>W"</td>
        </tr>
    </tbody>
</table>
n style="color: red;">\</span>W"</td>
        </tr>
    </tbody>
</table>
 style="color: red;">\</span>W"`</td>
        </tr>
    </tbody>
</table>

In [ ]:
# Word boundary

In [43]:
txt01 = "Rain is coming "
pattern = r"\bRain\b"

re.findall(pattern,txt01)

['Rain']

In [48]:
# Begining of a word
txt01 = "Rain is coming "
pattern1 = r"\bRain"

re.findall(pattern1,txt01)

['Rain']

In [49]:

txt01 = "is coming WashRain"
pattern1 = r"Rain\b"

re.findall(pattern1,txt01)

['Rain']

In [51]:
# StartWith
txt01 = "Rain is coming"
pattern1 = r"\ARain"

re.findall(pattern1,txt01)

[]

In [52]:
# EndWith
txt01 = "Rain is coming"
pattern1 = r"coming\Z"

re.findall(pattern1,txt01)

['coming']

In [55]:
# Digits (0-9)
pattern = r"\d+"
txt01 = "Rain is coming AT 3:30"

re.findall(pattern,txt01)

['Rain is coming AT ', ':']

In [ ]:
# String does not contain digits
pattern = r"\D+"
txt01 = "Rain is coming AT 3:30"
re.findall(pattern,txt01)

In [56]:
# White space
pattern = r"\s"
txt01 = "Rain is coming AT 3:30"
re.findall(pattern,txt01)

[' ', ' ', ' ', ' ']

In [57]:
# Non-white space
pattern = r"\S+"
txt01 = "Rain is coming AT 3:30"
re.findall(pattern,txt01)

['Rain', 'is', 'coming', 'AT', '3:30']

In [58]:
import re
# Word characters (a-zA-Z0-9_)
pattern = r"\w+"
txt01 = "Rain is coming AT _ 3:30 $%$#()"
re.findall(pattern,txt01)

['Rain', 'is', 'coming', 'AT', '_', '3', '30']

In [59]:
# String does not contain any word characters
pattern = r"\W+"
txt01 = "Rain is coming AT 3:30 $%$#()"
re.findall(pattern,txt01)

[' ', ' ', ' ', ' ', ':', ' $%$#()']

In [60]:
'''Starts with'''
#Check if the string starts with 'hello':
# ^
"\Ahello"

txt = "hello planet"
re.findall("^hello", txt)

['hello']

In [61]:
'''End With'''
# $

txt = "hello planet"


re.findall("planet$",txt)

['planet']

In [ ]:
test_string1 = "hello"
test_string2 = "heo"
test_string3 = "heello"
test_string4 = "helo"
test_string5 = "he23o"
test_string6 = "heXo"
test_string7 = "he123o"
test_string8 = "he.o"
test_string9 = "he?o"
test_string10 = "heo"
test_string11 = "heooo"
test_string12 = "he1234o"
test_string13 = "heoo123o"

# Charactor

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th>Description</th>
            <th>Character</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td>Any character (except newline character)</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">.</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">"he..o"</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td>Zero or one occurrences</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">.?</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">"he.?o"</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td>Zero or more occurrences</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">.*</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">"he.*o"</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td>One or more occurrences</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">.+</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">"he.+o"</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td>Exactly the specified number of occurrences</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">.{n}</td>
            <td style="text-align: center; color: blue; font-size: 18px; font-weight: bold;">"he.{2}o"</td>
        </tr>
    </tbody>
</table>

In [86]:
# Any character (except newline character)
pattern = r"he.+o"
test_string1 = "heo"

re.findall(pattern,test_string1)

[]

In [ ]:
# Any character (except newline character)
pattern = r"he....o"
test_string1 = "heerrdo How r you?"
re.findall(pattern,test_string1)

In [ ]:
# Exactly the specified number of occurrences
pattern = r"he.{3}o"
test_string1 = "herrro How r you?"
re.findall(pattern,test_string1)

In [ ]:
# Zero or one occurrences
pattern = r"he.?o"
test_string1 = "heddo How r you?"
re.findall(pattern,test_string1)

In [ ]:
# Zero or more occurrences
pattern = r"he.*o"
test_string1 = "heffffffo How r you?"
re.findall(pattern,test_string1)

In [ ]:
# One or more occurrences
pattern = r"he.+o"

test_string1 = "heddo How r you?"
re.findall(pattern,test_string1)

In [ ]:
import re

pattern1 = r"he.+o"
pattern2 = r"he.*o"

test_string1 = "heddddo How r you?"

result1 = re.findall(pattern1, test_string1)
result2 = re.findall(pattern2, test_string1)

result1, result2

# Extracting Email Addresses

In [87]:
import re
#Extract Email ID
text = "Send an email to user@example.com and another to support@domain.com"
'''user@example.com
support@domain.com'''

emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text)
print(emails)

['user@example.com', 'support@domain.com']

In [89]:
wordStarting = "\b"
word = "[A-Za-z0-9._-]+"
wordEndinging = "\@"

emails = re.findall(r'\b[A-Za-z0-9._-]+\@', text)
emails

['user@', 'support@']

In [91]:
# user@example.com
wordStarting = "@"
word = "[A-Za-z0-9.-]+"
wordEndinging = "\."

emails = re.findall(r'@[A-Za-z0-9.-]+\.', text)
emails

['@example.', '@domain.']

In [92]:
# user@example.com
wordStarting = "."
word = "[A-Z|a-z]{2,}"
wordEndinging = "\b"

emails = re.findall(r'\.[A-Z|a-z]{2,}\b', text)
emails

['.com', '.com']

In [93]:

emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text)
print(emails)

['user@example.com', 'support@domain.com']

# Extract Phone Numbers:

In [ ]:
import re

text = "My mobile numbers are 9910020443 and 8551234569"
re.findall(r'\b\d{10}\b', text)

In [ ]:
import re

html = "<a href='https://example.com'>Link</a> and <a href='http://another-example.com'>Another Link</a>"

pattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
re.findall(pattern,html)

In [ ]:

abc = "10Shivraj10abc"
re.findall('\D+',abc)

In [ ]:

abc = "10Shivraj10000abc"
dd = re.split('\d',abc)
for i in dd:
    print(len(i))

In [ ]:
max(dd,key=len)

In [ ]:
fileName = r"D:\MLProjects\ZDatasets\TempData\nvidia.txt"  # Use raw string literal for Windows paths
print(fileName)

with open(fileName, 'r') as file:
    data = file.read()
    print(data)

In [ ]:


import re
pattern = "NVIDIA"

re.findall(pattern,data)

In [ ]:
data

lines = data.splitlines()

lines

In [ ]:

nvidia_line_numbers = []
for i, line in enumerate(lines):
    if re.search(r'\bNVIDIA\b', line):
        nvidia_line_numbers.append(i + 1)

In [ ]:
# Print the line numbers where "NVIDIA" appears
if nvidia_line_numbers:
    print(f"The word 'NVIDIA' appears on line(s): {', '.join(map(str, nvidia_line_numbers))}.")
else:
    print("The word 'NVIDIA' does not appear in the text.")

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th>Category</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td rowspan="2" style="font-size: 16px; color: #333; text-align: center;">Built-in Functions</td>
            <td style="font-size: 16px; color: #333;">Function</td>
            <td style="font-size: 16px; color: #FF5733;">Functions provided by Python directly (e.g., <code>print()</code>, <code>len()</code>, <code>type()</code>).</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">-</td>
            <td style="font-size: 16px; color: #FF5733;">-</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td rowspan="2" style="font-size: 16px; color: #333; text-align: center;">User-defined Functions</td>
            <td style="font-size: 16px; color: #333;">Simple Function</td>
            <td style="font-size: 16px; color: #FF5733;">Functions defined using the <code>def</code> keyword.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">Lambda Function</td>
            <td style="font-size: 16px; color: #FF5733;">Anonymous functions created using the <code>lambda</code> keyword.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td rowspan="7" style="font-size: 16px; color: #333; text-align: center;">Other Functions</td>
            <td style="font-size: 16px; color: #333;">Higher-order Functions</td>
            <td style="font-size: 16px; color: #FF5733;">Functions that take other functions as arguments or return functions.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">map()</td>
            <td style="font-size: 16px; color: #FF5733;">Applies a function to all items in an iterable.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">filter()</td>
            <td style="font-size: 16px; color: #FF5733;">Filters items in an iterable based on a function.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">reduce()</td>
            <td style="font-size: 16px; color: #FF5733;">Applies a function cumulatively to the items of a sequence.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">Recursive Functions</td>
            <td style="font-size: 16px; color: #FF5733;">Functions that call themselves to solve problems.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">Generator Functions</td>
            <td style="font-size: 16px; color: #FF5733;">Functions that use the <code>yield</code> keyword to produce a sequence of values lazily.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">Decorator Functions</td>
            <td style="font-size: 16px; color: #FF5733;">Functions that modify the behavior of other functions or methods.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td rowspan="3" style="font-size: 16px; color: #333; text-align: center;">Class Methods</td>
            <td style="font-size: 16px; color: #333;">Instance Method</td>
            <td style="font-size: 16px; color: #FF5733;">Methods that operate on an instance of a class.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">Class Method</td>
            <td style="font-size: 16px; color: #FF5733;">Methods that operate on the class itself, defined with the <code>@classmethod</code> decorator.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">__init__ Method</td>
            <td style="font-size: 16px; color: #FF5733;">Special method used to initialize instances of a class.</td>
        </tr>
    </tbody>
</table>

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th>Level 1</th>
            <th>Level 2</th>
            <th>Level 3</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td rowspan="2" style="font-size: 16px; color: #333; text-align: center;">Built-in Functions</td>
            <td style="font-size: 16px; color: #333;">Function</td>
            <td>-</td>
            <td style="font-size: 16px; color: #FF5733;">Functions provided by Python directly (e.g., <code>print()</code>, <code>len()</code>, <code>type()</code>).</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr style="background-color: #f2f2f2;">
            <td rowspan="2" style="font-size: 16px; color: #333; text-align: center;">User-defined Functions</td>
            <td style="font-size: 16px; color: #333;">Simple Function</td>
            <td>-</td>
            <td style="font-size: 16px; color: #FF5733;">Functions defined using the <code>def</code> keyword.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">Lambda Function</td>
            <td>-</td>
            <td style="font-size: 16px; color: #FF5733;">Anonymous functions created using the <code>lambda</code> keyword.</td>
        </tr>

        <tr style="background-color: #f2f2f2;">
            <td rowspan="7" style="font-size: 16px; color: #333; text-align: center;">Other Functions</td>
            <td rowspan="3" style="font-size: 16px; color: #333;">Higher-order Functions</td>
            <td style="font-size: 16px; color: #333;">map()</td>
            <td style="font-size: 16px; color: #FF5733;">Applies a function to all items in an iterable.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">filter()</td>
            <td style="font-size: 16px; color: #FF5733;">Filters items in an iterable based on a function.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">reduce()</td>
            <td style="font-size: 16px; color: #FF5733;">Applies a function cumulatively to the items of a sequence.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">Recursive Functions</td>
            <td>-</td>
            <td style="font-size: 16px; color: #FF5733;">Functions that call themselves to solve problems.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="font-size: 16px; color: #333;">Generator Functions</td>
            <td>-</td>
            <td style="font-size: 16px; color: #FF5733;">Functions that use the <code>yield</code> keyword to produce a sequence of values lazily.</td>
        </tr>
        <tr style="background-color: #e6e6e6;">
            <td style="font-size: 16px; color: #333;">Decorator Functions</td>
            <td>-</

     </tr>
    </tbody>
</table>
     </tr>
    </tbody>
</table>