# Operators

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Category</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Arithmetic Operators</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Relational Operators</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Assignment Operators</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Logical Operators</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Membership Operators</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Identity Operators</td>
    </tr>
</table>

# Arithmetic Operators

<h2 style="text-align: left; color: #4CAF50; font-family: 'Candara', sans-serif;">Arithmetic Operators</h2>

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9; font-family: 'Candara', sans-serif;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Operator</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Name</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Example</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">+</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Addition</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x + y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">-</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Subtraction</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x - y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">*</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Multiplication</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x * y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">/</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Division</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x / y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">%</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Modulus</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x % y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">**</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Exponentiation</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x ** y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">//</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Floor division</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x // y</td>
    </tr>
</table>
 #333;">x // y</td>
    </tr>
</table>

In [4]:
x = 2
y = 3 

x ** y

8

In [8]:
9//2

4

In [11]:
17 - 16

1

In [ ]:
# additoin
'''Subtraction Addition Division Multiplication'''

x = 6
y = 3

x/y

In [ ]:
# Substraction
x-y

In [ ]:
#Devistion
x/y

In [ ]:
#Multiplication
x*y

In [ ]:
x//y

In [ ]:
x**y

In [ ]:
x = 17
y = 3

x/y

In [ ]:
'''Floor division and Exponentiation(**)'''

x = 17
y = 3

result = x // y  # result is 3 (integer division)
result

In [ ]:
x = 2
y = 3

result = x ** y  # result is 3 (integer division)
print(result)
print(2*2*2)

In [15]:
'''Modulus (%): Returns the remainder of the division.'''
x = 33
y = 5

print(x/y)

print(x%y)

6.6
3

In [ ]:
# Modulus or remainder

x = 15
y = 4

x/y


4*3

In [16]:
x = 12
y = 4


result = x % y  # result is 3 (integer division)
print(result)

0

In [ ]:
14-12

<h2 style="text-align: left; color: #4CAF50; font-family: 'Candara', sans-serif;">Comparison / Relational Operators</h2>

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9; font-family: 'Candara', sans-serif;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Operator</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Name</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Example</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">==</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Equal</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x == y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">!=</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Not equal</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x != y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">&gt;</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Greater than</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x &gt; y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">&lt;</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Less than</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x &lt; y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">&gt;=</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Greater than or equal to</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x &gt;= y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">&lt;=</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Less than or equal to</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x &lt;= y</td>
    </tr>
</table>

In [37]:
x= 22
y= 22

x<=y

True

False

In [22]:
'''Equal to (==): Checks if two operands are equal.'''

x = 5
y = 5

print(x == y)

False

In [ ]:
'''Not equal to (!=): Checks if two operands are not equal.'''
x = 5
y = 6

x != y

In [ ]:
''' Greater than (>): Checks if the left operand is greater than the right.'''
x = 17
y = 10
a = 10
b = 11
print(x > y) 
print(a > b)

In [ ]:
'''Less than (<): Checks if the left operand is less than the right.'''

x = 4
y = 5


print(x < y)

In [ ]:
''' Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right.'''

x = 3
y = 8

x >= y

In [ ]:
'''Less than or equal to (<=): Checks if the left operand is less than or equal to the right.'''
x = 7
y = 3

x <= y

<h2 style="text-align: left; color: #4CAF50; font-family: 'Candara', sans-serif;">Assignment Operators</h2>

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9; font-family: 'Candara', sans-serif;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Operator</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Example</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Same As</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">=</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x = 5</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x = 5</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">+=</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x += 3</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x = x + 3</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">-=</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x -= 3</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x = x - 3</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">*=</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x *= 3</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x = x * 3</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">/=</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x /= 3</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x = x / 3</td>
    </tr>
</table>

In [47]:
x = 10 
x = x / 10
x

1.0

In [ ]:
'''Assignment (=): Assigns the value on the right to the variable on the left.'''
x = 5 # assign

print(x)

In [ ]:
'''Addition Assignment (+=): Adds the value on the right to the variable on the 
left and assigns the result to the variable.'''
x = 5
x+=5 # is similar to x = x + 5

#  = 5 + 5
print(x)

In [ ]:
'''Subtraction Assignment (-=): Subtracts the value on the right from the variable on the left 
and assigns the result to the variable.'''
x = 8
x -= 8  # equivalent to x = x - 8

print(x)

In [ ]:
'''Multiplication Assignment (*=): Multiplies the variable on 
the left by the value on the right and assigns the result to the variable.'''

x = 4
x *= 4  # equivalent to x = x * 6




a = 10
for i in range(0,3):
    a = a * 10 
    print(a)

In [ ]:
'''Division Assignment (/=): Divides the variable on the left by the value on the right 
and assigns the result to the variable.'''
x = 10

x /= 10  # equivalent to x = x / 2

print(x)

<h2 style="text-align: left; color: #4CAF50; font-family: 'Candara', sans-serif;">Logical Operators</h2>

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9; font-family: 'Candara', sans-serif;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Operator</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Description</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Example</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">and</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Returns True if both statements are true</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x &lt; 5 and x &lt; 10</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">or</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Returns True if one of the statements is true</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x &lt; 5 or x &lt; 4</td>
    </tr>
</table>

In [54]:
result = (150 <= 1000) or (20 >= 150)
result

True

In [50]:
result = (20 > 15) and (25 > 20)  # result is True
#         True    and   False            

print(result)

True

In [ ]:
'''Logical AND (and): Returns True if both operands are True.'''
# True and True = True
# True and False = False
# False and True = False
# False and False = False


result = (5 > 15) and (15 > 20)  # result is True
#         False    and False            

print(result)

In [54]:
result = (50 > 400) or (117 > 2000)  


print(result)

False

In [ ]:
'''Logical OR (or): Returns True if at least one of the operands is True.'''
# True or True = True
# True or False = True
# False or True = True
# False 0r False = False


result = (5 > 4) or (117 > 20)  
#          True  or   True

print(result)

In [59]:
'''Logical NOT (not): Returns the opposite of the operand's truth value.'''


result = not(10 < 0)  # result is True

print(result)

True

<h2 style="text-align: left; color: #4CAF50; font-family: 'Candara', sans-serif;">Identity Operators</h2>

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9; font-family: 'Candara', sans-serif;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Operator</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Description</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Example</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">is</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Returns True if both variables are the same object</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x is y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">is not</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Returns True if both variables are not the same object</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x is not y</td>
    </tr>
</table>

In [58]:
x = 'Sunil'
y = 'Sunil'
x is not y

False

In [65]:
'''is: Returns True if both operands refer to the same object.'''

x = 'Sunil'
y = 'Sunil'

result1 = x is y  # result1 is False (x and y are different objects)
result2 = x == y  # result1 is False (x and y are different objects)

print(result1)
print(result2)

True
True

In [68]:
result1 = x != y  # result1 is False (x and y are different objects)
result2 = x is not y  # result1 is False (x and y are different objects)

print(result1)
print(result2)

False
False

In [ ]:
'''is not: Returns True if both operands do not refer to the same object.'''

x = 'Sunil'
y = 'Rajesh'

result1 = x is not y  # result1 is False (x and y are different objects)

print(result1)

<h2 style="text-align: left; color: #4CAF50; font-family: 'Candara', sans-serif;">Membership Operators</h2>

<table style="width:50%; margin-left: 0; border-collapse: collapse; border: 2px solid #4CAF50; border-radius: 8px; background-color: #f9f9f9; font-family: 'Candara', sans-serif;">
    <tr>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Operator</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Description</th>
        <th style="padding: 12px; text-align: left; background-color: #4CAF50; color: white; font-size: 18px;">Example</th>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">in</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">Returns True if a sequence with the specified value is present in the object</td>
        <td style="padding: 12px; text-align: left; background-color: #f2f2f2; font-size: 16px; color: #333;">x in y</td>
    </tr>
    <tr>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">not in</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">Returns True if a sequence with the specified value is not present in the object</td>
        <td style="padding: 12px; text-align: left; background-color: #e2f7e2; font-size: 16px; color: #333;">x not in y</td>
    </tr>
</table>

In [72]:
a  = ("1","2","3","4","5","6","7")

('1', '2', '3', '4', '5', '6', '7')

False

In [61]:
'''in: Returns True if the value is found in the sequence.'''

x = "this is python class"

"python" in x

False

In [63]:
list1 = ["a","b","c"]

"a" in list1

True

In [64]:
'''not in: Returns True if the value is not found in the sequence.'''

x = "this is python class"

"rajesh" not in x

True

In [ ]:
abc = {1:2,3:4,6:7}

print(abc)

2 in abc.values()

In [77]:
3*'ABC'

'ABCABCABC'

In [78]:
X = [1,2,3]
X[1:3]

[2, 3]

In [80]:
X = {1,2,3,4}
len(X)

4

In [83]:
def mul(my_list):
    result = 1
    for i in my_list:
        result + i
    return result
    
my_list = [1,2,3,4]
mul(my_list)

1

In [85]:
def find_max(numbers):
    max_num = numbers[0]
    if num>max_num:
        max_num=num
    return max_num


my_list = [1,2,3,4]

find_max(my_list)

NameError: name 'num' is not defined

In [88]:
type([])==list

True