| Category                | 
|-------------------------|
| Arithmetic Operators    |
| Relational Operators    |
| Assignment Operators    |
| Logical Operators       |
| Membership Operators    |
| Identity Operators      |

# Arithmetic Operators

| Operator | Name           | Example |
|----------|----------------|---------|
| +        | Addition       | x + y   |
| -        | Subtraction    | x - y   |
| *        | Multiplication | x * y   |
| /        | Division       | x / y   |
| %        | Modulus        | x % y   |
| **       | Exponentiation | x ** y  |
| //       | Floor division | x // y  |

'''Subtraction Addition Division Multiplication'''

x = 6
y = 3

x-y

In [ ]:
# additoin
x+y

In [ ]:
# Substraction
x-y

In [ ]:
#Devistion
x/y

In [ ]:
#Multiplication
x*y

In [ ]:
x//y

In [3]:
x**y

4913

In [2]:
x = 17
y = 3

x/y

5.666666666666667

In [1]:
'''Floor division and Exponentiation(**)'''

x = 17
y = 3

result = x // y  # result is 3 (integer division)
result

5

In [ ]:
x = 2
y = 3

result = x ** y  # result is 3 (integer division)
print(result)
print(2*2*2)

In [9]:
'''Modulus (%): Returns the remainder of the division.'''
x = 17
y = 3
print(x/y)
print(x%y)

5.666666666666667
2

In [5]:
# Modulus or remainder

x = 15
y = 4

x/y


4*3

12

In [ ]:
x = 12
y = 4


result = x % y  # result is 3 (integer division)
print(result)

In [ ]:
14-12

# Comparision//Relational operator

| Operator | Name                       | Example   |
|----------|----------------------------|-----------|
| `==`     | Equal                      | `x == y`  |
| `!=`     | Not equal                  | `x != y`  |
| `>`      | Greater than               | `x > y`   |
| `<`      | Less than                  | `x < y`   |
| `>=`     | Greater than or equal to   | `x >= y`  |
| `<=`     | Less than or equal to      | `x <= y`  |

In [11]:
'''Equal to (==): Checks if two operands are equal.'''

x = 5
y = 5

print(x == y)

True

In [12]:
'''Not equal to (!=): Checks if two operands are not equal.'''
x = 5
y = 6

x != y

True

In [6]:
''' Greater than (>): Checks if the left operand is greater than the right.'''
x = 17
y = 10
a = 10
b = 11
print(x > y) 
print(a > b)

True
False

In [ ]:
'''Less than (<): Checks if the left operand is less than the right.'''

x = 4
y = 5


print(x < y)

In [ ]:
''' Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right.'''

x = 3
y = 8

x >= y

In [ ]:
'''Less than or equal to (<=): Checks if the left operand is less than or equal to the right.'''
x = 7
y = 3

x <= y

# Assignment Operators


| Operator | Example | Same As       |
|----------|---------|---------------|
| `=`      | `x = 5` | `x = 5`       |
| `+=`     | `x += 3`| `x = x + 3`   |
| `-=`     | `x -= 3`| `x = x - 3`   |
| `*=`     | `x *= 3`| `x = x * 3`   |
| `/=`     | `x /= 3`| `x = x / 3`   |

In [ ]:
'''Assignment (=): Assigns the value on the right to the variable on the left.'''
x = 5 # assign

print(x)

In [13]:
'''Addition Assignment (+=): Adds the value on the right to the variable on the 
left and assigns the result to the variable.'''
x = 5
x+=5 # is similar to x = x + 5

#  = 5 + 5
print(x)

10

In [14]:
'''Subtraction Assignment (-=): Subtracts the value on the right from the variable on the left 
and assigns the result to the variable.'''
x = 8
x -= 8  # equivalent to x = x - 8

print(x)

0

In [22]:
'''Multiplication Assignment (*=): Multiplies the variable on 
the left by the value on the right and assigns the result to the variable.'''

x = 4
x *= 4  # equivalent to x = x * 6




a = 10
for i in range(0,3):
    a = a * 10 
    print(a)

100
1000
10000

In [4]:
'''Division Assignment (/=): Divides the variable on the left by the value on the right 
and assigns the result to the variable.'''
x = 10

x /= 10  # equivalent to x = x / 2

print(x)

1.0

# Logical Operators

| Operator | Description                                     | Example            |
|----------|-------------------------------------------------|--------------------|
| `and`    | Returns True if both statements are true        | `x < 5 and x < 10` |
| `or`     | Returns True if one of the statements is true   | `x < 5 or x < 4`   |

In [8]:
'''Logical AND (and): Returns True if both operands are True.'''
# True and True = True
# True and False = False
# False and True = False
# False and False = False


result = (5 > 15) and (15 > 20)  # result is True
#         False    and False            

print(result)

False

In [11]:
'''Logical OR (or): Returns True if at least one of the operands is True.'''
# True or True = True
# True or False = True
# False or True = True
# False 0r False = False


result = (5 > 4) or (117 > 20)  
#          True  or   True

print(result)

True

In [23]:
'''Logical NOT (not): Returns the opposite of the operand's truth value.'''


result = not(-1 < 0)  # result is True


print(result)

False

# Identity Operators

| Operator | Description                                                                       | Example      |
|----------|-----------------------------------------------------------------------------------|--------------|
| `in`     | Returns True if a sequence with the specified value is present in the object      | `x in y`     |
| `not in` | Returns True if a sequence with the specified value is not present in the object  | `x not in y` |

In [26]:
'''is: Returns True if both operands refer to the same object.'''

x = 'Sunil'
y = 'Sunil'

result1 = x is not y  # result1 is False (x and y are different objects)

print(result1)

False

In [27]:
result1 = x != y  # result1 is False (x and y are different objects)

print(result1)

False

In [15]:
'''is not: Returns True if both operands do not refer to the same object.'''

x = 'Sunil'
y = 'Rajesh'

result1 = x is not y  # result1 is False (x and y are different objects)

print(result1)

True

# Membership Operators

| Operator | Description                                              | Example      |
|----------|----------------------------------------------------------|--------------|
| `is`     | Returns True if both variables are the same object       | `x is y`     |
| `is not` | Returns True if both variables are not the same object   | `x is not y` |

In [31]:
'''in: Returns True if the value is found in the sequence.'''

x = "this is python class"

"python" in x

False

In [32]:
list1 = ["a","b","c"]

"z" in list1

False

In [21]:
'''not in: Returns True if the value is not found in the sequence.'''

x = "this is python class"

"rajesh" not in x

True

In [37]:
abc = {1:2,3:4,6:7}

print(abc)

2 in abc.values()

{1: 2, 3: 4, 6: 7}

True

TypeError: unhashable type: 'dict'