In [ ]:

abc = "my name is Rajesh"
abc

In [ ]:
a = """Choose the method that best suits your preference and the version of Python you're using. 
f-strings are generally preferred for their simplicity and readability, but the 
other methods are still widely used, especially in older codebases."""
print(a)

In [ ]:
a = '''Choose the method that best suits your preference and the version of Python you're using. 
f-strings are generally preferred for their simplicity and readability, but the 
other methods are still widely used, especially in older codebases.'''
print(a)

In [ ]:
'''Escape Character'''
# '\'

'my name is Rajesh\\sunils.'

In [ ]:
txt = 'It\"s alright.'
print(txt)

In [ ]:
txt = "Its\alright"
txt

In [ ]:
'''Single Slash'''
txt = 'It\'s alright.'
'\'
print(txt)

In [ ]:
txt = "This will insert one \\ (backslash)."
print(txt)

In [ ]:
'''New Line'''
'\n'

txt = "Hello\nWorld!"
print(txt)

In [ ]:
'''Carriage Return'''
'\r'
txt1 = "Hello\rWorld!"
txt2 = "Hello\rRajesh"
print(txt1)
print(txt2)

In [ ]:
'''Tab'''
'''\t'''
txt = "Hello\tWorld!"

print(txt)

In [ ]:
'''Backspace'''
'''\b'''
#This example erases one character (backspace):
txt = "Hello \bWorld!"

print(txt)

# Sting Formatting

In [68]:
'''Using f-Strings (Available in Python 3.6 and later):'''

name = "Sunil"
age = 32
height = 5.912

# Using f-strings
formatted_string = f"Name: {name}, Age: {age}, Height: {height:.3f}"

formatNEWstr1 = f"Myname:{name},age:{age},height: {height:.1f}"

print(formatted_string)
print(formatNEWstr1)

# Output: Name: John, Age: 30, Height: 5.90

Name: Sunil, Age: 32, Height: 5.912
Myname:Sunil,age:32,height: 5.9

# Indexing, Slicing & Dicing

In [ ]:
'''Syntax: string[index]'''

my_string = "Hello, World!"
# postion = index +1
# index = index

my_string[2:5]

In [ ]:
'''Syntax: string[index]'''

my_string = "Hello, World!"
#                        -1
# index = index

my_string[-5:-1]

In [ ]:
'''Slicing:'''

my_string = "Hello, World!"

my_string[0:5]
my_string[1:]

# reverse
my_string[::-1]

In [ ]:
my_string = "Hello, World!"
my_string[0:-2]

In [ ]:
print(my_string[0:5])      # Output: 'Hello'
print(my_string[7:])       # Output: 'World!'
print(my_string[:5])       # Output: 'Hello'
print(my_string[::-1])     # Output: '!dlroW ,olleH' (reversed string)

# input()

In [ ]:
'''In Python, the input()'''

positiveValue = input("please inser +Value" )
positiveValue = int(positiveValue)
sumValue = positiveValue + 100
print(sumValue)

In [ ]:
input()

In [ ]:
abc = "MY NAME IS SHIV"
abc

# String Formatting

In [ ]:
'''Using format() Method:'''
name = "Rajesh"
age = 21
height = 5.9

# "name:JOHN age:30 height:5.9"

# Using format() method
formatted_string = "Name: {}, Age: {}, Height: {:.1f}".format(name, age, height)

print(formatted_string)

# String Methods

| Method          | Description                                                         |
|-----------------|---------------------------------------------------------------------|
| `upper()`       | Converts all characters in the string to uppercase                  |
| `lower()`       | Converts all characters in the string to lowercase                  |
| `capitalize()`  | Converts the first character to uppercase                           |
| `title()`       | Converts the first character of each word to uppercase              |
| `replace()`     | Returns a string where a specified value is replaced with a specified value |
| `join()`        | Joins the elements of an iterable to the end of the string          |
| `split()`       | Splits the string at the specified separator and returns a list     |
| `splitlines()`  | Splits the string at line breaks and returns a list                 |
| `strip()`       | Returns a trimmed version of the string                             |
| `swapcase()`    | Swaps cases; lower case becomes upper case and vice versa           |
| `count()`       | Returns the number of times a specified value occurs in a string    |
| `startswith()`  | Returns true if the string starts with the specified value          |
| `endswith()`    | Returns true if the string ends with the specified value            |
| `find()`        | Returns the position of the word where it was found                 |
| `format()`      | Formats specified values in a string                                |
| `index()`       | Returns the position of where the word was found                    |

In [1]:
# Upper Case

txt = "Hello my friends"

txt.upper()



"sting manupulatoin"

'HELLO MY FRIENDS'

In [2]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [3]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
x

'Hello, and welcome to my world.'

In [4]:
txt = "Welcome to my world"
x = txt.title()
x

'Welcome To My World'

In [6]:
txt = "I like bananas"
txt.replace("like","dont like")

'I dont like bananas'

In [9]:
myList = ["John", "Peter", "Vicky"]

" ".join(myList)

'John Peter Vicky'

In [12]:
txt = "welcome to the jungle"

txt.split(" ")

['welcome', 'to', 'the', 'jungle']

In [16]:
txt = """Thank you for the music\nWelcome to the jungle. 
Welcome to the jungle"""
txt.splitlines()

['Thank you for the music', 'Welcome to the jungle. ', 'Welcome to the jungle']

In [17]:
# remove aditional space
txt = " banana "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [18]:
# swap case
txt = "Hello My Name Is PETER"
txt.swapcase()

'hELLO mY nAME iS peter'

In [19]:
# count
txt = "I love apple, apple are my favorite fruit apple"
txt.count("apple")

3

In [21]:
txt = "apple"
len(txt)

5

In [24]:
txt = "Hello, welcome to my world."
txt.startswith("He")

True

In [25]:
txt = "Hello, welcome to my world."
txt.endswith("world.")

True

In [29]:
txt = "Hello, welcome to my world."
txt.find("world")

21

In [31]:
txt = "Hello, welcome to my world."
txt.index("world")

21

| Method            | Description                                                     |
|-------------------|-----------------------------------------------------------------|
| `istitle()`       | Returns True if the string follows the rules of a title         |
| `isupper()`       | Returns True if all characters in the string are upper case     |
| `islower()`       | Returns True if all characters in the string are lower case     |
| `isalnum()`       | Returns True if all characters in the string are alphanumeric   |
| `isnumeric()`     | Returns True if all characters in the string are numeric        |
| `isdigit()`       | Returns True if all characters in the string are digits         |
| `isalpha()`       | Returns True if all characters in the string are in the alphabet|
| `isdecimal()`     | Returns True if all characters in the string are decimals       |
| `isidentifier()`  | Returns True if the string is an identifier                     |
| `isspace()`       | Returns True if all characters in the string are whitespaces    |

In [59]:
txt = "Rajesh"
print(txt.isalnum())

for i in txt:
    print(i,i.isalnum())

True

AttributeError: 'str' object has no attribute 'isnum'

In [62]:
txt = "Rajesh565543"
txt.isnumeric()

for i in txt:
    print(i,i.isnumeric())

R False
a False
j False
e False
s False
h False
5 True
6 True
5 True
5 True
4 True
3 True

In [64]:
txt = "Rajesh50800"
txt.isdigit()

False

In [40]:
txt = "CompanyX1000"
txt.isalpha()

False

In [52]:
# Is decimal"
txt = "5.5"

txt.isdecimal()

False

In [55]:
txt = " rajesh  amol"
txt.isspace()

for i in txt:
    print(i,i.isspace())

  True
r False
a False
j False
e False
s False
h False
  True
  True
a False
m False
o False
l False

# HomeWork

| Method        | Description                                                                                 |
|---------------|---------------------------------------------------------------------------------------------|
| `rfind()`     | Searches the string for a specified value and returns the last position where it was found  |
| `rindex()`    | Searches the string for a specified value and returns the last position where it was found  |
| `rpartition()` | Returns a tuple where the string is parted into three parts                                |
| `rsplit()`    | Splits the string at the specified separator and returns a list                             |
| `rstrip()`    | Returns a right-trimmed version of the string                                               |
| `lstrip()`    | Returns a left-trimmed version of the string                                                |
| `translate()` | Returns a translated string                                                                 |
| `zfill()`     | Fills the string with a specified number of 0 values at the beginning                       |
| `ljust()`     | Returns a left-justified version of the string                                              |
| `rjust()`     | Returns a right-justified version of the string                                             |
| `center()`    | Returns a centered version of the string                                                    |
| `casefold()`  | Converts the string to lowercase                                                            |
| `encode()`    | Returns an encoded version of the string                                                    |
| `expandtabs()` | Sets the tab size of the string                                                            |
| `isprintable()` | Returns True if all characters in the string are printable                                |
| `maketrans()` | Returns a translation table to be used in translations                                      |
| `partition()` | Returns a tuple where the string is parted into three parts                                 |