In [1]:
'''IF Else'''
"check if the age is of infant"

age = 3

if age<=2:
    print("Infant")
else:
    print("Not Infant")

Not Infant

In [2]:
'''If Else'''

age = 20

'''
inf <=2
child<=12
adult>12
'''

if age<=2:
    print("infant")
elif age<=12:
    print("Child")
elif age<=12:
    print("Child")
else:
    print("Its old Person")

Its old Person

In [3]:
Stall_1 = 'pineapple'
Stall_2 = 'pineapple'




if Stall_1 == "pineapple":
    print("go home with pineapple Stall_1")
elif Stall_2 == "pineapple":
    print("go home with pineapple Stall_2")

else:
    print("pineapple Not Found")

go home with pineapple Stall_1

In [4]:
'''Nested If'''



Stall_1 = 'Banana'
Stall_1_clean = "Yes"
price = 130

if Stall_1 == "pineapple": # False
    if Stall_1_clean == "Yes": # False
        if price <= 130: # False
            print("Go home with pineapple : Stall_1")
        else:
            print("pineapple are availalbe, stall clean but Price exceeds limit")
    else:
        print("pineapple Found but Stall not clean")
else:
    print("pineapple Not found")

pineapple Not found

In [5]:
Stall_1 = 'pineapple'
Stall_1_clean = "No"
price = 130
#         True                  False                           True
if Stall_1 == "pineapple" and Stall_1_clean == "Yes" and price <= 130:
    print("Go home with pineapple : Stall_1")
else:
    print("Codition Not Matched")

Codition Not Matched

In [6]:
# bring any fruit from market

Stall_1 = 'pineapple'
Stall_1_clean = "Yes"
price = 150
#         True                 True                           False
if Stall_1 == "pineapple" or Stall_1_clean == "Yes" or price <= 130:
    print("Go home with fruit : Stall_1")
else:
    print("Codition Not Matched")

Go home with fruit : Stall_1

In [7]:
# bring pineapple if store clean

Stall_1 = 'banana'
Stall_1_clean = "Yes"

Stall_2 = "banana"
Stall_2_clean = "Yes"

Stall_3 = "apple"
Stall_3_clean = "Yes"

if Stall_1 == "pineapple" and Stall_1_clean == "Yes": 
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes": 
    print("Go home with pineapple from Stall_2")
elif Stall_3 == "pineapple" and Stall_3_clean == "Yes": 
    print("Go home with pineapple from Stall_3")
else:
    print("No stall found has pineapple")

No stall found has pineapple

In [8]:
# Stall 1
Stall_1 = 'banana'
Stall_1_clean = "NO"
price_1 = 150

# Stall 2
Stall_2 = 'banana'
Stall_2_clean = "NO"
price_2 = 130

# Stall 3
Stall_3 = 'banana'
Stall_3_clean = "Yes"
price_3 = 130

if Stall_1 == "pineapple" and Stall_1_clean == "Yes" and price_1 <= 130:
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes" and price_2 <= 130:
    print("Go home with pineapple from Stall_2")
elif Stall_3 == "pineapple" and Stall_3_clean == "Yes" and price_3 <= 130:
    print("Go home with pineapple from Stall_3")

else:
    print("Pineapple not found or conditions not met for any stall")

Pineapple not found or conditions not met for any stall

In [9]:
Stall_1 = 'pineapple'
Stall_2 = 'banana'
Stall_3 = 'apple'

if Stall_1 == "pineapple" or Stall_2 == "pineapple" or Stall_3 == "pineapple":
    print("Go Home with pineapples")
else:
    print("Pineapple not found")

Go Home with pineapples

In [10]:
i = 0


while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
'''For Loops'''

fruits = ["apple", "banana", "cherry","kiwi"]
numbers1 = [1,2,3,4,5,6,7,8]

for i in numbers1:
    print(i)

1
2
3
4
5
6
7
8

In [13]:
for i in numbers1:
    print(i)

1
2
3
4
5
6
7
8

In [14]:
range1 = range(0,5)

for x in range1:
  print(x)

0
1
2
3
4

In [15]:


for i in "ashok":
    print(i)

a
s
h
o
k

In [16]:
'''Nested Loop'''

adj = ["Red", "Yellow", "LightGreen"]
fruits = ["Apple", "Banana", "Grapes"]

for i in adj: 
    for j in fruits:
        print(i,j)

Red Apple
Red Banana
Red Grapes
Yellow  Apple
Yellow  Banana
Yellow  Grapes
LightGreen Apple
LightGreen Banana
LightGreen Grapes

SyntaxError: invalid syntax (649178564.py, line 10)

In [ ]:
firstList = [3, 2, 1]
secondList = [1, 2, 3]

for i in firstList:
    for j in secondList:
        print(i,j)

In [ ]:
# Print only matching Values

firstList = [3, 2, 1]
secondList = [1, 2, 3]

for i in firstList:
    for j in secondList:
        if i == j:
            print(i,j," Match")
        else:
            print(i,j," Not Match")

In [ ]:

'''print below pattern'''
'''
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6    
'''

In [ ]:
for j in range(1,7):
    for i in range(1,7):
        print(i,end=" ")
    print()

In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print(j,end=" ")
    print()

In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print("$",end=" ")
    print()

In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

In [ ]:
'''
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * *    '''

In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

In [20]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:


'''
* 
* * 
* * * 
* * * * 
* * * * *    
'''

In [19]:
for j in range(1,2):
    print("*",end=" ")
print()
for j in range(1,3):
    print("*",end=" ")
print()
for j in range(1,4):
    print("*",end=" ")
print()
for j in range(1,5):
    print("*",end=" ")
print()
for j in range(1,6):
    print("*",end=" ")

*
* *
* * *
* * * *
* * * * *

In [24]:

for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
'''Nested Loop'''
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

In [ ]:
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

In [ ]:
'''
* * * * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* '''

In [25]:
for j in range(1,7): 
    print("*",end=" ")
print()
for j in range(2,7): 5
    print("*",end=" ")
print()
for j in range(3,7): 
    print("*",end=" ")
print()
for j in range(4,7):
    print("*",end=" ")
print()
for j in range(5,7):
    print("*",end=" ")
print()
for j in range(6,7):
    print("*",end=" ")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [26]:
for i in range(1,7):
    for j in range(i,7): 
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

In [29]:

for i in range(1,7):
    k = 7-i
    for j in range(1,k):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [31]:
'''break Statement'''
''' break statement immediately terminates the loop'''

for i in range(6):
    if i==3:
        break
    
    print(i)

0
1
2

In [ ]:
'''Continue'''
'''continue statement skips and jump to the rest iteration of the loop '''

for i in range(6):
    if i == 3:
        continue
    print(i)