In [1]:
'Creating List'

'''Method 01'''
abc = ["apple", "banana", "cherry", "orange"]
abc

['apple', 'banana', 'cherry', 'orange']

In [2]:
'''Method 02 using cunstructor'''

abc = list(("apple", "banana", "cherry", "orange"))
abc

['apple', 'banana', 'cherry', 'orange']

In [3]:
xyzList = list((1,2,3,4,5))
xyzList

[1, 2, 3, 4, 5]

# Performing some operations on List

# Slicing

In [18]:
# +Ve Indexing
abc =  ['apple', 'banana', 'cherry', 'orange']
#          0        1        2          3
#         -4       -3        -2       -1

['orange', 'cherry', 'banana', 'apple']

In [30]:
# +Ve Indexing
abc =  ['apple', 'banana', 'cherry', 'orange']
#          0        1        2          3



sliced_list = abc[0:3]

print(sliced_list)

['apple', 'banana', 'cherry']

In [31]:
# -Ve Indexing
abc = list(("apple", "banana", "cherry", "orange"))
#               -4       -3        -2       -1

In [36]:
# print apple and banana with +ve index
abc[2]

'cherry'

In [42]:
# print apple and banana with -ve index
abc[-4:]

['apple', 'banana', 'cherry', 'orange']

In [43]:
# print Only Banana
abc[-3]

'banana'

In [9]:
sliced_list = abc[:3]
print(sliced_list)

['apple', 'banana', 'cherry']

In [45]:
# Slice from index 1 to index 3 (exclusive)
print(abc[1:3])
print(abc[:2])
print(abc[1:])
print(abc[:])

['banana', 'cherry']
['apple', 'banana']
['banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

In [46]:
print(abc[-2:])
print(abc[:-2])
print(abc[-1:])
print(abc[:-1])

['cherry', 'orange']
['apple', 'banana']
['orange']
['apple', 'banana', 'cherry']

# Reversed

In [27]:
# method one Indexing 
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)

print(abc[::-1])

['apple', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'apple']

In [26]:
# method one readymade fucntion 
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)

print(abc.reverse())

['apple', 'banana', 'cherry', 'orange']
None

# Iterating over list

In [10]:
'''Iterating over list '''
newABC = []

for i in range(len(abc)-1,0,-1):
    print(i)

3
2
1

In [29]:
abc = ["apple", "banana", "cherry", "orange"]

for i in abc:
    print(i)

apple
banana
cherry
orange

# Lenght of List

In [30]:
'''len Of List'''
abc = ['apple', 'banana', 'cherry', 'orange']

len(abc)

4

# Count & Appearances

In [32]:
abc = ['apple', 'banana', 'apple','apple', 'banana', 'cherry', 'orange']

abc.count('apple')

3

In [42]:
'''Check if Item Exists'''
abc = ['apple', 'banana', 'apple', 'banana', 'cherry', 'orange']

'banana' in abc

True

# Changing/Replace

In [45]:
'''Changing/Replace the item'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3

abc[3]= "Mangoes"
abc

['apple', 'banana', 'cherry', 'Mangoes']

# Adding an Item

In [47]:
'''To add an item at the Last index'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3

abc.append("mango")
print(abc)

['apple', 'banana', 'cherry', 'orange', 'mango']

In [48]:
'''To add an item at the specified index'''

abc.insert(1,"pineapple")
abc

['apple', 'pineapple', 'banana', 'cherry', 'orange', 'mango']

# Remove

In [56]:
'''To removes the specified item:'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']

abc.remove('pineapple')
abc

['apple', 'banana', 'kiwi', 'orange']

In [57]:
'''To removes the Last item use pop method'''
abc.pop()
abc

['apple', 'banana', 'kiwi']

In [66]:
'''To removes by Index'''
abc = ['apple', 'pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc[1]
print(abc)

['apple', 'banana', 'kiwi', 'orange', 'orange']

In [67]:
del abc[1]
abc

['apple', 'kiwi', 'orange', 'orange']

In [68]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

# Empty and Delete

In [70]:
'''Clear'''
'''To empty the list:'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

abc.clear()
print(abc)

[]

In [73]:
'''Delete'''
'''To delete the Data Completely'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc
abc

NameError: name 'abc' is not defined

# Copy

In [74]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method One

abc.copy()

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [75]:
#Method Two
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Two
newList = abc
print(newList)

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [78]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Three

newList = list(abc)
newList

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [ ]:
abcTuple = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

#Method Three
mylist = list(abcTuple)
print(mylist)

In [80]:
abcSet = {'pineapple', 'banana', 'kiwi', 'orange', 'orange'}

#Method Three
mylist = list(abcSet)
print(mylist)

['kiwi', 'pineapple', 'orange', 'banana']

# Join

In [86]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

[1, 2, 3, 'a']
[1, 2, 3, 'a', 'b']
[1, 2, 3, 'a', 'b', 'c']

In [80]:
'''Method 01 by using + operator'''

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

In [84]:
'''Method 02
by using extend'''

list2.extend(list1)
list2

[1, 2, 3, 'a', 'b', 'c']

In [86]:
'''Method 03
by using append,'''

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list1:
    list2.append(i)
    print(list2)

[1, 2, 3, 'a']
[1, 2, 3, 'a', 'b']
[1, 2, 3, 'a', 'b', 'c']

# Print index of an Element

In [88]:
'''Index of the element with the specified value'''
list1 = ["a", "b" , "c", "c", "c"]

list1.index('a')

0

# Sort the List

In [96]:
# Does Not Modify the Original: It creates and returns a new sorted list, leaving the original iterable unchanged.
# this method is not memory Efficient
list2 = [1, 2, 3,4]

print(sorted(list2,reverse=True))

print(list2)

[4, 3, 2, 1]
[1, 2, 3, 4]

In [103]:
list2 = [1, 2, 3,3]
sorted(list2,reverse=True)

[3, 3, 2, 1]

In [99]:
# Modifies the Original List: It changes the original list and does not return a new list.
# In-Place Sorting: Since it modifies the original list, it uses less memory compared to sorted().

list2 = [1, 2, 3,3]

abc = list2.sort(reverse=True)
print(list2)

None
[3, 3, 2, 1]

In [101]:
list2 = [1, 2, 3,3]

list2.sort(reverse=False)
list2

[1, 2, 3, 3]

# Convert list to dict

In [105]:

abc = ["apple", "banana", "cherry", "orange"]
xyz = [1, 2, 3, 4,5,6]

dict(zip(abc,xyz))

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4}

# Print Even Numbers

In [109]:
# 

for i in range(1,10):
    if i%2 == 0:
        print(i)

2
4
6
8

1

# Use of list Comprehension

In [117]:
'Create copy of a list from existing list'

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

In [118]:
for i in fruits:
    newlist.append(i)

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [119]:
'''Using List Comprehension'''
#[exp   for i in iterable]
xyzVarialeNeList = [i for i in fruits]
xyzVarialeNeList

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#         [exp   for i in iterable]
newList = [i      for i in fruits]
newList

In [14]:
'Create New a list which has "a" in common'
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlistWithA = []

In [ ]:
for x in fruits:
    if "a" in i:
        newlistWithA.append(i)

print(newlistWithA)

In [ ]:
'create New a list which "a" in common using List comprehension'
# [exp    for i in iterable       if condition  ]

In [ ]:
newlistWithA2 = [x for x in fruits if "a" in x]
newlistWithA2

In [16]:
# Generate a new list containing the squares of the numbers in the list [1, 2, 3, 4, 5, 6, 7]
listOne = [1, 2, 3, 4, 5, 6, 7]
newList = []
for i in listOne:
    newList.append(i**2)

newList

[1, 4, 9, 16, 25, 36, 49]

In [18]:
# [exp   iteration ]

newList = [x**2 for i in listOne]

newList

[1, 4, 9, 16, 25, 36, 49]

In [19]:
# Create a new list of squared of each Even_Number
listOne = [1, 2, 3, 4, 5, 6, 7]

newlListWithSQ = []
for i in listOne:
    if i%2==0:
        newlListWithSQ.append(i**2)

newlListWithSQ

[4, 16, 36]

In [22]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]


# Using list comprehension to create a new list of squared of Even Number

oddNumberSqure = [i**2 for i in listOne if i%2 == 0]
oddNumberSqure

[4, 16, 36]

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]

# Using list comprehension to create a new list of squared of ODD Number

oddNumberSqure = [i**2 for i in listOne if i%2 != 0]
oddNumberSqure

In [ ]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7,]
newLIST = []

for x in numbers:
    if x <3 or x >5:
        newLIST.append(x)
newLIST

In [131]:
listOne = [0,1,2,3,4,5,6]

In [132]:
# [exp1  if cond1   else  exp2 if cond2    else exp3     for x in iterable]

[x*2   if x<=2     else  x/2 if x<=4       else x+2      for x in listOne]

[0, 2, 4, 1.5, 2.0, 7, 8]

In [ ]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7]
filtered_numbers = [x for x in numbers if x <= 3 or x > 5]
print(filtered_numbers)