In [1]:
'Creating List'

'''Method 01'''
abc = ["apple", "banana", "cherry", "orange"]
abc

['apple', 'banana', 'cherry', 'orange']

In [2]:
'''Method 02 using cunstructor'''
abc = list(("apple", "banana", "cherry", "orange"))
abc

['apple', 'banana', 'cherry', 'orange']

In [3]:
xyzList = list((1,2,3,4,5))
xyzList

[1, 2, 3, 4, 5]

# performing some operations on List

# Slicing

In [30]:
# +Ve Indexing
abc =  ['apple', 'banana', 'cherry', 'orange']
#          0        1        2          3

sliced_list = abc[0:3]
print(sliced_list)

['apple', 'banana', 'cherry']

In [31]:
# -Ve Indexing
abc = list(("apple", "banana", "cherry", "orange"))
#               -4       -3        -2       -1

In [36]:
# print apple and banana with +ve index
abc[2]

'cherry'

In [42]:
# print apple and banana with -ve index
abc[-4:]

['apple', 'banana', 'cherry', 'orange']

In [43]:
# print Only Banana
abc[-3]

'banana'

In [9]:
sliced_list = abc[:3]
print(sliced_list)

['apple', 'banana', 'cherry']

In [45]:
# Slice from index 1 to index 3 (exclusive)
print(abc[1:3])
print(abc[:2])
print(abc[1:])
print(abc[:])

['banana', 'cherry']
['apple', 'banana']
['banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

In [46]:
print(abc[-2:])
print(abc[:-2])
print(abc[-1:])
print(abc[:-1])

['cherry', 'orange']
['apple', 'banana']
['orange']
['apple', 'banana', 'cherry']

# Reversed

In [47]:
# method one Indexing 
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)

abc[::-1]

['apple', 'banana', 'cherry', 'orange']

['orange', 'cherry', 'banana', 'apple']

In [49]:
# method one readymade fucntion 
abc.reverse()
print(abc)

['apple', 'banana', 'cherry', 'orange']

In [50]:
'''Iterating over list '''

for i in abc:
    print(i)

apple
banana
cherry
orange

In [15]:
for i in abc:
    print(i)

orange
cherry
banana
apple

# Lenght of List

In [16]:
'''len Of List'''
abc = ['apple', 'banana', 'cherry', 'orange']

len(abc)

4

# count appearances

In [52]:
abc = ['apple', 'banana', 'apple', 'banana', 'cherry', 'orange']

abc.count('apple')

2

In [58]:
'''Check if Item Exists'''
abc = ['apple', 'banana', 'apple', 'banana', 'cherry', 'orange']


'apple' in abc

True

In [59]:
'''Changing/Replace the item'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3
abc[2] = "kiwi"
abc

['apple', 'banana', 'kiwi', 'orange']

# Adding an Item

In [60]:
'''To add an item at the Last index'''

abc.append("mango")
print(abc)

['apple', 'banana', 'kiwi', 'orange', 'mango']

In [61]:
'''To add an item at the specified index'''

abc.insert(1,"pineapple")
abc

['apple', 'pineapple', 'banana', 'kiwi', 'orange', 'mango']

# Remove

In [70]:
'''To removes the specified item:'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']
abc.remove('orange')
abc

['apple', 'pineapple', 'banana', 'kiwi']

In [70]:
'''To removes the specified item:'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']
abc.remove('orange')
abc

['apple', 'pineapple', 'banana', 'kiwi']

In [70]:
'''To removes the specified item:'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']
abc.remove('orange')
abc

['apple', 'pineapple', 'banana', 'kiwi']

In [71]:
'''To removes the Last item use pop method'''
abc.pop()

'kiwi'

In [73]:
'''To removes by Index'''
abc = ['apple', 'pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc[1]

abc

['apple', 'banana', 'kiwi', 'orange', 'orange']

In [74]:
del abc[1]
abc

['apple', 'kiwi', 'orange', 'orange']

In [26]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

# Empty and Delete

In [27]:
'''Clear'''
'''To empty the list:'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']
abc.clear()
abc = []
abc

[]

In [28]:
'''Delete'''
'''To delete the Data Completely'''
del abc

abc

NameError: name 'abc' is not defined

# Copy

In [75]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method One
mylist = abc.copy()
print(mylist)

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [ ]:
#Method Two
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Two
mylist = abc
print(mylist)

In [ ]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Three
mylist = list(abc)
print(mylist)

In [ ]:
abcTuple = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

#Method Three
mylist = list(abcTuple)
print(mylist)

# Join

In [83]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [80]:
'''Method 01 by using + operator'''

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

In [84]:
'''Method 02
by using extend'''

list2.extend(list1)
list2

[1, 2, 3, 'a', 'b', 'c']

In [86]:
'''Method 03
by using append,'''

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list1:
    list2.append(i)
    print(list2)

[1, 2, 3, 'a']
[1, 2, 3, 'a', 'b']
[1, 2, 3, 'a', 'b', 'c']

In [95]:
list2 = [1, 2, 3]
list2.append("a")
list2
list2.append("b")
list2
list2.append("c")
list2

[1, 2, 3, 'a', 'b', 'c']

# print index of an Element

In [99]:
'''Index of the element with the specified value'''
list1 = ["a", "b" , "c", "c", "c"]

list1.index("c")

2

# Sort the List

In [100]:
list2 = [1, 2, 3,3]

list2.sort(reverse=True)
list2

[3, 3, 2, 1]

In [101]:
list2 = [1, 2, 3,3]

list2.sort(reverse=False)
list2

[1, 2, 3, 3]

In [102]:
list2 = [1, 2, 3,3]
sorted(list2,reverse=False)

[1, 2, 3, 3]

In [103]:
list2 = [1, 2, 3,3]
sorted(list2,reverse=True)

[3, 3, 2, 1]

# convert list to dict

In [105]:


abc = ["apple", "banana", "cherry", "orange"]
xyz = [1, 2, 3, 4,5,6]

dict(zip(abc,xyz))

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4}

# Print Even Numbers

In [109]:
# 

for i in range(1,10):
    if i%2 == 0:
        print(i)

2
4
6
8

1

# Use of list Comprehension

In [117]:
'Create copy of a list from existing list'

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

In [118]:
for i in fruits:
    newlist.append(i)

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [119]:
'''Using List Comprehension'''
#[exp    for x in iterable]
xyzVarialeNeList = [i for i in fruits]
xyzVarialeNeList

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
newList = [x      for x in fruits]
newList

In [ ]:
'create New a list which "a" in common'
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlistWithA = []

In [ ]:
for x in fruits:
    if "a" in x:
        newlistWithA.append(x)

print(newlistWithA)

In [ ]:
'create New a list which "a" in common using List comprehension'
# [exp    for x in iterable       if condition  ]

In [ ]:
newlistWithA2 = [x for x in fruits if "a" in x]
newlistWithA2

In [128]:
# Create a new list of squared of each Even_Number
newlListWithSQ = []
for i in range(1,7):
    if i%2==0:
        newlListWithSQ.append(i**2)

newlListWithSQ

[4, 16, 36]

In [130]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

# Using list comprehension to create a new list of squared of ODD Number

oddNumberSqure = [i**2 for i in range(1,7) if i%2 != 0]

[1, 9, 25]

In [ ]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7,]
newLIST = []

for x in numbers:
    if x <3 or x >5:
        newLIST.append(x)
newLIST

In [131]:
listOne = [0,1,2,3,4,5,6]

In [132]:
# [exp1  if cond1   else  exp2 if cond2    else exp3     for x in iterable]

[x*2   if x<=2     else  x/2 if x<=4       else x+2      for x in listOne]

[0, 2, 4, 1.5, 2.0, 7, 8]

In [ ]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7]
filtered_numbers = [x for x in numbers if x <= 3 or x > 5]
print(filtered_numbers)