In [ ]:
'Creating List'

'''Method 01'''
abc = ["apple", "banana", "cherry", "orange"]
abc

In [ ]:
'''Method 02 using cunstructor'''

abc = list(("apple", "banana", "cherry", "orange"))
abc

In [ ]:
xyzList = list((1,2,3,4,5))
xyzList

# Performing some operations on List

# Slicing

In [ ]:
# +Ve Indexing
abc =  ['apple', 'banana', 'cherry', 'orange']
#          0        1        2          3
#         -4       -3        -2       -1

In [ ]:
# +Ve Indexing
abc =  ['apple', 'banana', 'cherry', 'orange']
#          0        1        2          3



sliced_list = abc[0:3]

print(sliced_list)

In [ ]:
# -Ve Indexing
abc = list(("apple", "banana", "cherry", "orange"))
#               -4       -3        -2       -1

In [ ]:
# print apple and banana with +ve index
abc[2]

In [ ]:
# print apple and banana with -ve index
abc[-4:]

In [ ]:
# print Only Banana
abc[-3]

In [ ]:
sliced_list = abc[:3]
print(sliced_list)

In [ ]:
# Slice from index 1 to index 3 (exclusive)
print(abc[1:3])
print(abc[:2])
print(abc[1:])
print(abc[:])

In [ ]:
print(abc[-2:])
print(abc[:-2])
print(abc[-1:])
print(abc[:-1])

# Reversed

In [ ]:
# method one readymade fucntion 
# it will reverse the original List
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)
abc.reverse()
print(abc)

In [6]:
# method Two Indexing 
# it will create a copy then reverse the list.
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)
print(abc[::-1])
print(abc)

['apple', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'orange']

# Iterating over list

In [ ]:
'''Iterating over list '''
newABC = []

for i in range(len(abc)-1,0,-1):
    print(i)

In [ ]:
abc = ["apple", "banana", "cherry", "orange"]

for i in abc:
    print(i)

# Lenght of List

In [ ]:
'''len Of List'''
abc = ['apple', 'banana', 'cherry', 'orange']

len(abc)

# Count

In [ ]:
abc = ['apple', 'banana', 'apple','apple', 'banana', 'cherry', 'orange']

abc.count('apple')

# Appearances

In [ ]:
'''Check if Item Exists'''
abc = ['apple', 'banana', 'apple', 'banana', 'cherry', 'orange']

'banana' in abc

# Changing/Replace

In [ ]:
'''Changing/Replace the item'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3

abc[3]= "Mangoes"
abc

# Adding an Item

In [ ]:
'''To add an item at the Last index'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3

abc.append("mango")
print(abc)

In [ ]:
'''To add an item at the specified index'''

abc.insert(1,"pineapple")
abc

# Remove

In [ ]:
'''To removes the specified item:'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']

abc.remove('pineapple')
abc

In [ ]:
'''To removes the Last item use pop method'''
abc.pop()
abc

In [ ]:
'''To removes by Index'''
abc = ['apple', 'pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc[1]
print(abc)

In [ ]:
del abc[1]
abc

In [ ]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

# Empty and Delete

In [ ]:
'''Clear'''
'''To empty the list:'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

abc.clear()
print(abc)

In [ ]:
'''Delete'''
'''To delete the Data Completely'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc
abc

# Copy

In [ ]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method One
abc.copy()

In [ ]:
#Method Two
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Two
newList = abc
print(newList)

In [ ]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Three

newList = list(abc)
newList

In [ ]:
abcTuple = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

#Method Three
mylist = list(abcTuple)
print(mylist)

In [ ]:
abcSet = {'pineapple', 'banana', 'kiwi', 'orange', 'orange'}

#Method Three
mylist = list(abcSet)
print(mylist)

# Join

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [ ]:
'''Method 01 by using + operator'''

list3 = list1 + list2
list3

In [ ]:
'''Method 02
by using extend'''

list2.extend(list1)
list2

In [ ]:
'''Method 03
by using append,'''

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list1:
    list2.append(i)
    print(list2)

# Print index of an Element

In [ ]:
'''Index of the element with the specified value'''
list1 = ["a", "b" , "c", "c", "c"]

list1.index('a')

# Sort the List

In [ ]:
# Does Not Modify the Original: It creates and returns a new sorted list, leaving the original iterable unchanged.
# this method is not memory Efficient
list2 = [1, 2, 3,4]

print(sorted(list2,reverse=True))

print(list2)

In [ ]:
list2 = [1, 2, 3,3]
sorted(list2,reverse=True)

In [ ]:
# Modifies the Original List: It changes the original list and does not return a new list.
# In-Place Sorting: Since it modifies the original list, it uses less memory compared to sorted().

list2 = [1, 2, 3,3]

abc = list2.sort(reverse=True)
print(list2)

In [ ]:
list2 = [1, 2, 3,3]

list2.sort(reverse=False)
list2

# Convert list to dict

In [ ]:

abc = ["apple", "banana", "cherry", "orange"]
xyz = [1, 2, 3, 4,5,6]

dict(zip(abc,xyz))

# Print Even Numbers

In [ ]:
# 

for i in range(1,10):
    if i%2 == 0:
        print(i)

# Use of list Comprehension

In [1]:
'Create copy of a list from existing list'

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [3]:
newlist = []

for i in fruits:
    newlist.append(i)
    
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [6]:
'''Using List Comprehension'''
#[exp   for i in iterable]

newList = [x for x in fruits]

print(fruits)
print(newList)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#         [exp   for i in iterable]
newList = [i      for i in fruits]
newList

In [ ]:
'Create New a New list which has "a" in common'


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [9]:
newlistWithA = []

for i in fruits:
    if 'a' in i:
        newlistWithA.append(i)
        
print(newlistWithA)

['apple', 'banana', 'mango']

In [10]:
'create New a New list which "a" in common using List comprehension'

# [exp    for i in iterable       if condition  ]

['apple', 'banana', 'mango']

In [ ]:
newlistWithA2 = [x for x in fruits if "a" in x]
newlistWithA2

In [16]:
# Generate a new list containing the squares of the numbers in the list [1, 2, 3, 4, 5, 6, 7]
listOne = [1, 2, 3, 4, 5, 6, 7]
newList1 = []

for i in listOne:
    newList1.append(i**2)

newList1

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# [exp   iteration ]

newList = [x**2 for i in listOne]

newList

In [20]:
# Create a new list of squared of each Even_Number
listOne = [1, 2, 3, 4, 5, 6, 7]

newListSq = []

for i in listOne:
    if i%2==0:
        newListSq.append(i**2)
        
print(newListSq)

[4, 16, 36]

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]


# Using list comprehension to create a new list of squared of Even Number

oddNumberSqure = [i**2 for i in listOne if i%2 == 0]
oddNumberSqure

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]

# Using list comprehension to create a new list of squared of ODD Number

oddNumberSqure = [i**2 for i in listOne if i%2 != 0]
oddNumberSqure

In [22]:
# Example: Filtering numbers less than 3 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7,]
newLIST = []

for x in numbers:
    if x <3 or x >5:
        newLIST.append(x)
newLIST

[1, 2, 6, 7]

In [ ]:
listOne = [0,1,2,3,4,5,6]
x  if x<3     else   x   if x>5  else

In [41]:
# Example: Filtering numbers less than 3 or greater 5 using list comprehension
#[exp     for x in iterable	   if cond1 	       cond2 ...  ]

listOne = [0,1,2,3,4,5,6]

[x for x in listOne if x <3 or  x>5]

[0, 1, 2, 6]

In [40]:
[x  if x<3   else  x  if x>5  else "" for x in listOne]

[0, 1, 2, '', '', '', 6]

In [ ]:
[x*2   if x<=2     else  x/2 if x<=4       else x+2      for x in listOne]

In [ ]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7]
filtered_numbers = [x for x in numbers if x <= 3 or x > 5]
print(filtered_numbers)