In [14]:
thisset = {"apple", "banana", "cherry", "orange"}
thisset = set(("apple", "banana", "cherry", "orange"))

thisset = {"apple","apple", "banana", "cherry", "orange"}
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
thisset.count("apple")

In [ ]:
thisset[1]

In [3]:
#To print all value:-
for x in thisset:
  print(x)

cherry
apple
banana
orange

In [4]:
# print len of set
len(thisset)

4

In [5]:
"banana" in thisset

True

In [6]:
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
thisset

In [7]:

thisset.update(["Litchies", "Kaju", "Grapes"])
thisset

{'Grapes', 'Kaju', 'Litchies', 'apple', 'banana', 'cherry', 'orange'}

In [ ]:
# Remove

In [8]:
thisset.remove("banana")
thisset

{'Grapes', 'Kaju', 'Litchies', 'apple', 'cherry', 'orange'}

In [9]:
thisset.discard("cherry")

In [10]:
thisset.pop()
thisset

{'Grapes', 'Litchies', 'apple', 'orange'}

In [13]:
# Below will not support
del thisset[1]

NameError: name 'thisset' is not defined

# Empty or Delete

In [15]:
# To empty the set:
thisset.clear()
thisset

set()

In [16]:
# To delete the Data Completely
thisset = {"apple", "banana", "cherry", "orange"}
del thisset

# Copy

In [19]:
# Copy
thisset = {"apple", "banana", "cherry", "orange"}
x = thisset.copy()
print(x)

{'cherry', 'apple', 'banana', 'orange'}

In [21]:
# Creating a set
my_set = {1, 2, 3}
my_set

{1, 2, 3}

In [22]:
# Creating an empty set
empty_set = set()
empty_set

set()

In [25]:
empty_set = {}
type(empty_set)

dict

In [26]:
# Creating a set from a list
abcList = [1, 2, 2, 3, 4]

set(abcList)  # Duplicates are removed

{1, 2, 3, 4}

In [33]:
# Adding an element
my_set.add(3)

my_set

{1, 2, 3, 4, 5, 6, 7}

In [30]:
# Adding multiple elements
my_set.update([5, 6, 7])

my_set

{1, 2, 3, 4, 5, 6, 7}

# Slicing  Does not work is it is unindexed

# Reverse Does Not work as Sets are unindexed

# Count Does not Work as it has unique Values

# Replacing or Chaning Item does not work in set as it is unorderred

# Adding an Item

In [ ]:
s = {1, 2, 3}
s.add(4)  # s becomes {1, 2, 3, 4}
s

# Remove Item from Set

In [23]:
# Removing an element (raises KeyError if element not found)
my_set = {1, 2, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [26]:
# Removing an element if it exists (no KeyError if element not found)
my_set = {1, 2, 2, 3, 4}
my_set.discard(4)
my_set

{1, 2, 3}

In [ ]:
# Removing and returning an arbitrary element (raises KeyError if set is empty)
my_set = {1, 2, 2, 3, 4,10}

print(my_set.pop())

print(my_set)

# Empty and Delete

In [9]:
# Empty or Clearing all elements
my_set = {1, 2, 2, 3, 4,10}
my_set.clear()
my_set

set()

In [ ]:
# Deleting the Sets
my_set = {1, 2, 2, 3, 4,10}
del my_set

# Copy

In [10]:
abc = {'pineapple', 'banana', 'kiwi', 'orange', 'orange'}
#Method One
abc.copy()

{'banana', 'kiwi', 'orange', 'pineapple'}

In [11]:
#Method Two
abc = {'pineapple', 'banana', 'kiwi', 'orange', 'orange'}

#Method Two
newSet = abc
print(newSet)

{'orange', 'kiwi', 'banana', 'pineapple'}

# Iteration

In [1]:
# Removing an element (raises KeyError if element not found)
my_set = {1, 2, 2, 3, 4}

for i in my_set:
    print(i)

1
2
3
4

# Len

In [2]:
len(my_set)

4

# Join

In [55]:
# Combines elements from two sets. Duplicate elements are removed.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

newSet = set1.union(set2)

newSet

{1, 2, 3, 4, 5}

In [21]:
# .update(*sets)
# Updates the set with elements from all specified sets, adding elements that are not already present.
s1 = {1, 2}
s2 = {2, 3}
s1.update(s2)  # s1 becomes {1, 2, 3}

In [12]:

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set03 = set1 + set2
set03

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [59]:
# Check if an element is in a set
1 in set1  # Returns True

True

# Difference Operation

In [14]:
# difference
# •	Returns a new set with elements in the set that are not in the specified sets.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.difference(s2)

{1}

In [17]:
# difference_update(*sets)
# •	Updates the set, removing elements found in the specified sets.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.difference_update(s2)  # s1 becomes {1}
s1

{1}

In [18]:
# .intersection(*sets)
#	Returns a new set with elements that are common to all specified sets.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
inter = s1.intersection(s2)  # inter is {2, 3}

inter

{2, 3}

In [20]:
# .intersection_update(*sets)
#	Updates the set to keep only elements found in all specified sets.

s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.intersection_update(s2)  # s1 becomes {2, 3}

s1

{2, 3}

# Frozen Sets

In [ ]:
# Creating a frozen set
# Frosen Set is a immutable verion of Sets

frozen_set = frozenset([1, 2, 3, 4])

# Trying to add an element will raise an AttributeError
# frozen_set.add(5)

# HomeWork

<h2 style="color: #2a9d8f; font-family: 'Candara', sans-serif; font-weight: bold; text-align: center; padding-bottom: 10px; border-bottom: 2px solid #264653;">Python Set Methods</h2>
<p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 18px; line-height: 1.8;">Below is a list of set methods in Python with their descriptions and examples:</p>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.difference(*sets)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Returns a new set with elements in the set that are not in the specified sets.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {2, 3, 4}<br>diff = s1.difference(s2)  # diff is {1}</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.difference_update(*sets)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Updates the set, removing elements found in the specified sets.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {2, 3, 4}<br>s1.difference_update(s2)  # s1 becomes {1}</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.intersection(*sets)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Returns a new set with elements that are common to all specified sets.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {2, 3, 4}<br>inter = s1.intersection(s2)  # inter is {2, 3}</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.intersection_update(*sets)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Updates the set to keep only elements found in all specified sets.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {2, 3, 4}<br>s1.intersection_update(s2)  # s1 becomes {2, 3}</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.isdisjoint(set)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Returns True if the set has no elements in common with the specified set.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {4, 5, 6}<br>s1.isdisjoint(s2)  # True</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.issubset(set)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Returns True if all elements of the set are in the specified set.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2}<br>s2 = {1, 2, 3}<br>s1.issubset(s2)  # True</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.issuperset(set)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Returns True if the set contains all elements of the specified set.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {1, 2}<br>s1.issuperset(s2)  # True</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.symmetric_difference(set)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Returns a new set with elements in either the set or the specified set but not in both.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {3, 4, 5}<br>sym_diff = s1.symmetric_difference(s2)  # sym_diff is {1, 2, 4, 5}</code></p>
</div>

<div style="background-color: #f9f9f9; border-left: 5px solid #2a9d8f; padding: 10px; margin-bottom: 10px;">
    <h3 style="color: #2a9d8f; font-family: 'Candara', sans-serif; margin: 0;">.symmetric_difference_update(set)</h3>
    <p style="color: #264653; font-family: 'Candara', sans-serif; font-size: 16px; margin: 0;"><b>Description:</b> Updates the set to include only elements that are in either the set or the specified set but not in both.<br><b>Example Code:</b><br><code style="color: #032f62; font-family: 'Candara', sans-serif;">s1 = {1, 2, 3}<br>s2 = {3, 4, 5

            s1 = {1, 2, 3}<br>
            s2 = {3, 4, 5}<br>
            s1.symmetric_difference_update(s2)  # s1
y: 'Candara', sans-serif; font-size: 16px;">
        <b>Example Code:</b> <br>
        <code style="color: #032f62;
<td style="border: 1px solid #ddd; padding: 8px;">
        <code style="color: #032f62; font-family: '
    <td style="border: 1px solid #ddd; padding: 8px; color: #22863a;">{1, 2, 4, 5}</td>
    </tr>
  </tbody>
</table>