In [14]:
thisset = {"apple", "banana", "cherry", "orange"}
thisset = set(("apple", "banana", "cherry", "orange"))

thisset = {"apple","apple", "banana", "cherry", "orange"}
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
thisset.count("apple")

In [ ]:
thisset[1]

In [3]:
#To print all value:-
for x in thisset:
  print(x)

cherry
apple
banana
orange

In [4]:
# print len of set
len(thisset)

4

In [5]:
"banana" in thisset

True

In [6]:
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
thisset

In [7]:

thisset.update(["Litchies", "Kaju", "Grapes"])
thisset

{'Grapes', 'Kaju', 'Litchies', 'apple', 'banana', 'cherry', 'orange'}

In [ ]:
# Remove

In [8]:
thisset.remove("banana")
thisset

{'Grapes', 'Kaju', 'Litchies', 'apple', 'cherry', 'orange'}

In [9]:
thisset.discard("cherry")

In [10]:
thisset.pop()
thisset

{'Grapes', 'Litchies', 'apple', 'orange'}

In [13]:
# Below will not support
del thisset[1]

NameError: name 'thisset' is not defined

# Empty or Delete

In [15]:
# To empty the set:
thisset.clear()
thisset

set()

In [16]:
# To delete the Data Completely
thisset = {"apple", "banana", "cherry", "orange"}
del thisset

# Copy

In [19]:
# Copy
thisset = {"apple", "banana", "cherry", "orange"}
x = thisset.copy()
print(x)

{'cherry', 'apple', 'banana', 'orange'}

In [21]:
# Creating a set
my_set = {1, 2, 3}

my_set

{1, 2, 3}

In [22]:
# Creating an empty set
empty_set = set()
empty_set

set()

In [25]:
empty_set = {}
type(empty_set)

dict

In [26]:
# Creating a set from a list
abcList = [1, 2, 2, 3, 4]

set(abcList)  # Duplicates are removed

{1, 2, 3, 4}

In [33]:
# Adding an element
my_set.add(3)

my_set

{1, 2, 3, 4, 5, 6, 7}

In [30]:
# Adding multiple elements
my_set.update([5, 6, 7])

my_set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Removing

In [39]:
# Removing an element (raises KeyError if element not found)
my_set = {1, 2, 2, 3, 4}

my_set.remove(5)
print(my_set)

KeyError: 5

In [40]:
# Removing an element if it exists (no KeyError if element not found)
my_set = {1, 2, 2, 3, 4}
my_set.discard(5)
my_set

{1, 2, 3, 4}

In [50]:
# Removing and returning an arbitrary element (raises KeyError if set is empty)
my_set = {1, 2, 2, 3, 4,10}

print(my_set.pop())

print(my_set)

1
{2, 3, 4, 10}

In [ ]:
# Empty and Delte

In [52]:
# Clearing all elements
my_set = {1, 2, 2, 3, 4,10}

my_set.clear()
my_set

set()

In [53]:
my_set = {1, 2, 2, 3, 4,10}
del my_set

In [ ]:
# Join

In [55]:
# Combines elements from two sets. Duplicate elements are removed.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

newSet = set1.union(set2)

newSet

{1, 2, 3, 4, 5}

In [58]:

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set03 = set1 + set2
set03

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [59]:
# Check if an element is in a set
1 in set1  # Returns True

True

In [60]:
# Length of the set
len(set1)

3

# Frozen Sets

In [ ]:
# Creating a frozen set
# Frosen Set is a immutable verion of Sets

frozen_set = frozenset([1, 2, 3, 4])

# Trying to add an element will raise an AttributeError
# frozen_set.add(5)