In [2]:
thistple = ("apple", "banana", "cherry", "orange")

thistple = tuple(("apple", "banana", "cherry", "orange"))

In [3]:
print(thistple[1]) 
print(thistple[-1]) 
print(thistple[2:5])
print(thistple[:4])
print(thistple[2:])
print(thistple[-4:-1])

banana
orange
('cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange')
('apple', 'banana', 'cherry')

In [4]:
for i in thistple:
    print(i)

apple
banana
cherry
orange

In [5]:
len(thistple)

4

In [6]:
"apple" in thistple

True

In [ ]:
# Join tuple

In [7]:
# Tupple Example
abc = ("a", "b" , "c")
xyz = (1, 2, 3)

ddd = abc + xyz 
print(ddd)

('a', 'b', 'c', 1, 2, 3)

In [8]:
abc.extend(xyz)

AttributeError: 'tuple' object has no attribute 'extend'

In [12]:

# Creating a tuple with a single element (note the trailing comma)
single_element_tuple = (5,10)

single_element_tuple

(5, 10)

In [18]:
# Creating a tuple from a list
listOne = [1, 2, 3]
print(listOne)
tuple(listOne)

[1, 2, 3]

(1, 2, 3)

In [16]:
# Creating an empty tuple
empty_tuple = ()
empty_tuple

()

In [19]:
# Checking if an element is in a tuple
tuple1 = (1, 2, 3)
2 in tuple1  # Output: True

True

In [20]:
5 in tuple1  # Output: False

False

In [21]:
# Finding the index of an element
thistple = ("apple", "banana", "cherry", "orange")

thistple.index("apple")

0

In [22]:
# Counting occurrences of an element
thistple = ("apple","apple", "banana", "cherry", "orange")

thistple.count("apple")

2

In [24]:
thistple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [23]:
# Sorting a tuple by converting to a list
sorted(thistple)  # Requires tuple elements to be comparable

['apple', 'apple', 'banana', 'cherry', 'orange']

In [26]:
# Reversing a tuple by converting to a list
tuple(reversed(thistple))

('orange', 'cherry', 'banana', 'apple', 'apple')