In [3]:
thistple = ("apple", "banana", "cherry", "orange")

thistple = tuple(("apple", "banana", "cherry", "orange"))

In [5]:
print(thistple[1]) 
print(thistple[-1]) 
print(thistple[2:5])
print(thistple[:4])
print(thistple[2:])
print(thistple[-4:-1])

banana
orange
('cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange')
('apple', 'banana', 'cherry')

In [6]:
for x in thistple:
  print(x)

apple
banana
cherry
orange

In [8]:
len(thistple)

4

In [10]:
"apple" in thistple

True

In [ ]:
# Join tuple

In [13]:
# Tupple Example
abc = ("a", "b" , "c")
xyz = (1, 2, 3)

ddd = abc + xyz 
print(ddd)

('a', 'b', 'c', 1, 2, 3)