# Build In Functions

<table style="width: 100%; border-collapse: collapse; font-family: Candara, sans-serif; color: #189AB4;">
    <thead>
        <tr style="background-color: #189AB4; color: white;">
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">Function</th>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">print()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Prints the specified message to the screen.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">len()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Returns the length of an object.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">input()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Reads a line of text from the user.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">range()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Generates a sequence of numbers.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">type()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Returns the type of an object.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">str()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Converts an object to a string.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">int()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Converts a number or string to an integer.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">float()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Converts a number or string to a floating-point number.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">list()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Creates a list object.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">dict()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Creates a dictionary object.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">sorted()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Returns a sorted list from the elements of an iterable.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">sum()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Sums up all the items in an iterable.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">max()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Returns the largest item from an iterable or the largest of two or more arguments.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">min()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Returns the smallest item from an iterable or the smallest of two or more arguments.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">enumerate()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Adds a counter to an iterable and returns it in the form of an enumerate object.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 8px; border: 1px solid #ddd; font-size: 1em;">zip()</td>
            <td style="padding: 8px; border: 1px solid #ddd;">Combines two or more iterables element-wise into tuples.</td>
        </tr>
    </tbody>
</table>

In [ ]:


print("HI")

len("rajesh")

# User-defined Functions:

In [ ]:
def addTwoNumbers(x,y):
    abc = x+y
    print(abc)

addTwoNumbers(x=10,y=10)

In [ ]:
def printName(abc):
    print(abc)

printName("Rajesh")

# Parameters or Arguments

<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th style="padding: 10px; text-align: left;">Type of Argument</th>
            <th style="padding: 10px; text-align: left;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 10px;">Positional Argument</td>
            <td style="padding: 10px;">Arguments passed in a specific order as defined in the function.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 10px;">Arbitrary Arguments, <code style="background-color: #e7e7e7; padding: 2px 4px;">*args</code></td>
            <td style="padding: 10px;">Allows passing a variable number of positional arguments, collected as a tuple.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 10px;">Keyword Arguments</td>
            <td style="padding: 10px;">Arguments passed by specifying their names, allowing flexibility in order.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 10px;">Arbitrary Keyword Arguments, <code style="background-color: #e7e7e7; padding: 2px 4px;">**kwargs</code></td>
            <td style="padding: 10px;">Allows passing a variable number of keyword arguments, collected as a dictionary.</td>
        </tr>
    </tbody>
</table>

In [ ]:

'No Parameters'

def my_function():
    print("Hello from a function")
my_function()

In [10]:
'''With Simple Parameters or Arguments'''
'''When the programmer Knows the exact No. of Argument'''

def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Chavan","Sunil")

Chavan Sunil

In [12]:
def my_function(*arg):
    print(arg[0])

my_function("Chavan","Sunil","sunita","akshay")

Chavan

In [14]:
'Arbitrary Position Arguments, *args'
# When the programmer does not know the exact No. of Argument

def my_function(*kids):
    print("The youngest child is " + kids[0])
    
my_function("Amol", "Rajesh", "Sunil","ashok","sanjay")

    
my_function("Amol", "Rajesh", "Sunil","ashok","sanjay")

The youngest child is Amol
The youngest child is Amol

In [17]:
'''Keyword Arguments:-'''
# You can also send arguments with the “key = value” syntax.'

def my_function(child3, child2, child1):
    print("The youngest child is " + child2)

my_function(child1 = "Raejsh", child2 = "SUnil", child3 = "Savita")

The youngest child is SUnil

In [ ]:
'''Arbitrary Keyword Arguments, **kwargs'''
'''
When programmers don’t know the Exact No. of Arguments in “Key=Value” Syntax 
Pass ** before the parameter name
The function will receive a dictionary of arguments

'''
def my_function(**kid):
    print("1st Child " + kid["child1"])
    print("2nd Child " + kid["child2"])
    print("3rd Child " + kid["child3"])


my_function(child1 = "Raejsh", child2 = "SUnil", child3 = "Savita",child4 = "Savita")

In [19]:
'Default Parameter Value'
'''
If we call the function without argument, it uses the default value, 
The following example shows how to use a default parameter value.
'''

def my_function(country="India"):
    print("My COuntry is:  " + country)

my_function()

My COuntry is:  India


    </tbody>
</table>

# Lambda

In [33]:
'Simple FUnction'

def x(a):
    return a+10

result = x(5)

result

Rajesh

15

In [22]:
'''Lambda(with only one argument)'''
# lambda arguments : expression 

a = lambda a : a + 5

print(a(5))

10

In [23]:
'''Simple Function with multiple argument and Expression'''

def multiply_and_add(x, y):
    product = x * y
    summation = x + y
    
    return product, summation

result = multiply_and_add(3, 5)

print(result)

(15, 8)

In [ ]:
abc = 10
xyz = 15
abc, xyz = 10,15
print(abc, xyz)

In [24]:
'''Lambda with multiple 
argument and Expression'''

#                  lambda arguments : expression 

multiply_and_add = lambda x, y : (x * y, x + y)

result = multiply_and_add(3, 5)

print(result)

(15, 8)

In [25]:
'''Use of Lambda function in 
inside another function.''' 

def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
print(mydoubler(11))

22

In [ ]:
def myFunction(a):
    return a*10

myFunction(10)

In [28]:
def find_max(x, y):
    """
    This function finds the maximum of two numbers.
    """
    if x > y:
        return x
    else:
        return y
    
result = find_max(50, 15)
print(result)

50

In [30]:

#          lambda arguments : true_value if condition else false_value

find_max =lambda x,y : x if x>y else y
result = find_max(100, 50)
print(result)

100


# Return Types in Python Functions

<table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
    <thead>
        <tr style="background-color: #4CAF50; color: white;">
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Type of Return</th>
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd;">print()</td>
            <td style="padding: 12px; border: 1px solid #ddd;">Outputs a value to the console; returns <code style="background-color: #e7e7e7; padding: 2px 4px;">None</code>.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 12px; border: 1px solid #ddd;">return</td>
            <td style="padding: 12px; border: 1px solid #ddd;">Sends a value back to the caller; can return any value or <code style="background-color: #e7e7e7; padding: 2px 4px;">None</code>.</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd;">yield</td>
            <td style="padding: 12px; border: 1px solid #ddd;">Produces a sequence of values over time; makes the function a generator.</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 12px; border: 1px solid #ddd;">pass</td>
            <td style="padding: 12px; border: 1px solid #ddd;">A no-operation placeholder; does not return any value or perform any action.</td>
        </tr>
    </tbody>
</table>

In [ ]:
def functionABC():
    print("")
    return 
    yield
    pass

In [35]:
def functionABC():
    print("Rajesh")

functionABC()

Rajesh

In [37]:
def functionABC():
    return "Rajesh" 

functionABC()

'Rajesh'

In [39]:
def functionABC():
    pass

functionABC()

In [ ]:
def functionABC():
    yield "10"

functionABC()

In [ ]:
# Return 
'To let a function return a value, use the return statement.'

def my_function(x):
    return 5*x

myVariable = my_function(5)
print(myVariable)

In [ ]:
myVariable

def addValue(myVariable):
    print(myVariable+5)

addValue(myVariable)

def my_function():
    pass

my_function()

# Higher-Order Functions

<table style="width: 100%; border-collapse: collapse; font-family: Candara, sans-serif; color: #0000FF;">
    <thead>
        <tr style="background-color: #007BFF; color: white;">
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Function</th>
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Description</th>
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Syntax</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">filter()</td>
            <td style="padding: 12px; border: 1px solid #ddd;">This function takes a function and an iterable as input and returns an iterator yielding those items of the iterable for which the function returns true.</td>
            <td style="padding: 12px; border: 1px solid #ddd;"><code style="color: #0000FF;">filter(function, iterable)</code></td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">map()</td>
            <td style="padding: 12px; border: 1px solid #ddd;">This function takes a function and iterables as input and applies the function to each item of the iterable(s). It returns an iterator that yields the results.</td>
            <td style="padding: 12px; border: 1px solid #ddd;"><code style="color: #0000FF;">map(function, iterable1)</code></td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">reduce()</td>
            <td style="padding: 12px; border: 1px solid #ddd;">This function is not a built-in function like filter() and map(), but it exists in the functools module. It applies a rolling computation to sequential pairs of values in an iterable.</td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                <pre style="margin: 0; color: #0000FF;"><code>from functools import reduce<br>reduce(function, iterable)</code></pre>
            </td>
        </tr>
    </tbody>
</table>
r>
    </tbody>
</table>

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
newList = []
for i in numbers:
    if i%2==0:
        newList.append(i)

newList # iterable

for i in newList:
    print(i)

2
4
6
8
10

In [2]:
'''filter'''

'''filter(function, iterable)'''
'find even number by using filer'

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(x):
    if x % 2 == 0:
        return x

filter(is_even,numbers)    # iterator  Object

abc = filter(is_even,numbers)
list(abc)

[2, 4, 6, 8, 10]

In [ ]:
newList = []
for i in numbers:
    if i % 2 == 0:
       newList.append(i) 

print(newList)

In [ ]:
'''PRACTICE'''
x, y : x if x > y else y
# Example 1: Filtering even numbers from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

In [4]:
'MAP'
# Example 2: Squaring each number in a list using map

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def square_number(x):
    return x ** 2


map(square_number,numbers)   # iterator Object

list(map(square_number,numbers))   # iterable

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''PRACTICE'''

# Example 2: Squaring each number in a list
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

In [5]:
'''Reduce'''
from functools import reduce

numbers = [1, 2, 3, 4, 5]

def multiply(x, y):
    return x * y

reduce(multiply,numbers) # Nothing

120

In [ ]:
abc=1
for i in range(len(numbers)):
    abc =abc * numbers[i]
    print(abc)
abc

In [ ]:
'''PRACTICE'''

from functools import reduce

# Example 3: Calculating the product of all numbers in a list
numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)
print(product)

<table style="width: 100%; border-collapse: collapse; font-family: Candara, sans-serif; color: #189AB4;">
    <thead>
        <tr style="background-color: #189AB4; color: white;">
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Concept</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">Recursive Function</td>
        </tr>
        <tr style="background-color: #ffffff;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">Decorators</td>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">Generator Functions</td>
        </tr>
    </tbody>
</table>

# Recursive Function

<table style="width: 100%; border-collapse: collapse; font-family: Candara, sans-serif; color: #189AB4;">
    <thead>
        <tr style="background-color: #189AB4; color: white;">
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Concept</th>
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">Recursive Function</td>
            <td style="padding: 12px; border: 1px solid #ddd;">These are functions that call themselves during their execution. Recursive functions typically have two parts: the base case, which terminates the recursion, and the recursive case, which continues the recursion.</td>
        </tr>
    </tbody>
</table>
y>
</table>
y>
</table>
le>

In [ ]:
# recursive Function without Base Case
def recursiveFunc(i):
    print(i)
    recursiveFunc(i)

recursiveFunc(1)

In [7]:

def recursiveFunc(i):
    if i==10:
        return 10   # Base case to stop recursion
        
    print(i)
    i=i+1
    recursiveFunc(i)  # Recursive call

recursiveFunc(1)

1
2
3
4
5
6
7
8
9

In [5]:
def recursiveFunction(i):
    if i<=10:
        print(i)
        i = i + 1
        recursiveFunction(i)
    else:
        return 10
recursiveFunction(1)

1
2
3
4
5
6
7
8
9
10

In [60]:
'''Print Factorial of a Number using Recursive Function'''

def factorial(n):
    if n == 0:
        return 1
    else:
        n = n * factorial(n-1)
        print(n)
        return n 
factorial(10)

1
2
6
24
120
720
5040
40320
362880
3628800

3628800

# Decorators

<table style="width: 100%; border-collapse: collapse; font-family: Candara, sans-serif; color: #189AB4;">
    <thead>
        <tr style="background-color: #189AB4; color: white;">
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Concept</th>
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">Decorators</td>
            <td style="padding: 12px; border: 1px solid #ddd;">A decorator is a design pattern in Python that allows a user to add new functionality to an existing object without modifying its structure. Decorators are typically used to modify the behavior of functions or methods.</td>
        </tr>
    </tbody>
</table>

In [48]:
def myfunction(func):
    def wrapper():
        print("Before the function is called.")
        func()
        print("After the function is called.")
    return wrapper

@myfunction
def say_hello():
    print("Hello!")


say_hello()

Before the function is called.
Hello!
After the function is called.

In [57]:
# 

def myfunction(func):
    def wrapper(a, b):
        print("Before the function is called.")
        if b>a:
            b,a=a,b
        else:
            b,a=b,a
        print("Operation Performed")
        func(a, b)  # Call func with arguments a and b
        print("After the function is called.")
    return wrapper

@myfunction
def divideNumber(a, b):
    c = a / b
    print(c)

divideNumber(5, 50)

Before the function is called.
Operation Performed
10.0
After the function is called.

In [53]:
30/3

10.0

In [ ]:


def count_up_to(i,n):
    for i in range(n):
        print(i) 

gen = count_up_to(i=1, n=10)

# Generators Function

<table style="width: 100%; border-collapse: collapse; font-family: Candara, sans-serif; color: #189AB4;">
    <thead>
        <tr style="background-color: #189AB4; color: white;">
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Concept</th>
            <th style="padding: 12px; text-align: left; border: 1px solid #ddd;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2;">
            <td style="padding: 12px; border: 1px solid #ddd; font-size: 1.2em;">Generator Functions</td>
            <td style="padding: 12px; border: 1px solid #ddd;">These are functions that use the <code style="color: #189AB4;">yield</code> keyword to return a series of values iteratively, rather than returning them all at once. Generator functions are memory efficient because they generate values on the fly and do not store them in memory.</td>
        </tr>
    </tbody>
</table>

In [46]:
'''Create a Fucntion which will print 
values until 10 using Generators'''

def count_up_to(i,n):
    for i in range(1,n):
        yield i

gen = count_up_to(i=1, n=10)

print(next(gen))
print(next(gen))

1
2

In [47]:
for i in gen:
    print(i)

3
4
5
6
7
8
9

In [45]:
def count_up_to(i,n):
    for i in range(1,n):
         print(i)

gen = count_up_to(i=1, n=10)
print(gen)

1
2
3
4
5
6
7
8
9
None

In [ ]:
dir(gen)

In [ ]:
for i in gen:
    print(i)

In [ ]:
def count(n):
    for i in range(n):
        return i

count(10)

In [ ]:
for i in range(10):
    return i

In [ ]:
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

In [ ]:
def valuestoprint(i,n):
    for i in range(n):
        print(i)
        
valuestoprint(1,10)

In [ ]:
for i in gen:
    print(i)

# Class related Functions Methods

In [ ]:
class MyClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        print("Object initialized with x =", x, "and y =", y)

# Creating an instance of MyClass
obj = MyClass(10, 20)

In [ ]:
'''Instance Method'''

class MyClass1:
    def __init__(self, x):
        self.x = x
    def instance_method(self):
        return self.x * 2

obj = MyClass1(5)
print(obj.instance_method())

In [ ]:
'''Class Method'''
class MyClass:
    class_variable = 10

    def __init__(self, x):
        self.x = x

    @classmethod
    def class_method(cls):
        return cls.class_variable * 2

print(MyClass.class_method())

In [ ]:
class MyClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y

# Creating an instance of MyClass
obj = MyClass("value1", "value2")

# Accessing the attributes of the object
print(obj.x)  # Output: value1
print(obj.y)  # Output: value2

In [ ]:
class MyClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def abc()


obj = MyClass("value1", "value2")

# Accessing the attributes of the object
print(obj.x)  # Output: value1
print(obj.y)  # Output: value2