# <h3 style="font-family: Candara; color: black;">Creation</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Simple Method</td>
            <td>abc = ["apple", "banana", "cherry", "orange"]</td>
            <td>thistple = ("apple", "banana", "cherry", "orange")</td>
            <td>myset = {"apple", "banana", "cherry", "orange"}</td>
        </tr>
        <tr>
            <td>By Using Constructor</td>
            <td>abc = list(("apple", "banana", "cherry", "orange"))</td>
            <td>thistple = tuple(("apple", "banana", "cherry", "orange"))</td>
            <td>myset = set(("apple", "banana", "cherry", "orange"))</td>
        </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Remove Operation</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Specified Item</td>
            <td>abc.remove("banana")</td>
            <td>Tuple is immutable</td>
            <td>myset.remove("banana")</td>
        </tr>
        <tr>
            <td>Specified Item</td>
            <td>---</td>
            <td>---</td>
            <td>abc.discard("banana")</td>
        </tr>
        <tr>
            <td>Last Item</td>
            <td>abc.pop()</td>
            <td>---</td>
            <td>myset.pop()</td>
        </tr>
        <tr>
            <td>By Index</td>
            <td>abc.pop(1)</td>
            <td>---</td>
            <td>Sets are unordered</td>
        </tr>
        <tr>
            <td>By Index (Delete)</td>
            <td>del abc[0]</td>
            <td>---</td>
            <td>Sets are unordered</td>
        </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Adding an Item</h3>

<table style="font-family: Candara; color: greenen; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>To Add at the Last Index</td>
            <td>abc.append("orange")</td>
            <td>Tuples are immutable</td>
            <td>myset.add("orange")</td>
        </tr>
        <tr>
            <td>To Add at a Specified Index</td>
            <td>abc.insert(1, "orange")</td>
            <td>Tuples are immutable</td>
            <td>Sets are unordered</td>
        </tr>
    </tbody>
</table>
tbody>
        <tr>
            <td>To Add at the

# <h3 style="font-family: Candara; color: black;">Empty or Delete</h3>

<table style="font-family: Candara; color: green; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Clear</td>
            <td>abc.clear()</td>
            <td>Tuples cannot be emptied</td>
            <td>myset.clear()</td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>del abc</td>
            <td>del thistple</td>
            <td>del myset</td>
        </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Copy</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Deep Copy</td>
            <td>myList.copy()</td>
            <td>Tuples cannot be copied</td>
            <td>mySet.copy()</td>
        </tr>
        <tr>
            <td>Shallow Copy</td>
            <td>newList = myList</td>
            <td>newTup = myTup</td>
            <td>newSet = mySet</td>
        </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Join</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>+</td>
            <td>list3 = list1 + list2</td>
            <td>ddd = abc + xyz</td>
            <td>-----</td>
        </tr>
        <tr>
            <td>extend</td>
            <td>list1.extend(list2)</td>
            <td>---</td>
            <td>-----</td>
        </tr>
        <tr>
            <td>union</td>
            <td>---</td>
            <td>---</td>
            <td>set1.union(set2)</td>
        </tr>
        <tr>
            <td>update</td>
            <td>---</td>
            <td>---</td>
            <td>s1.update(s2)</td>
        </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Reverse</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Slicing</td>
            <td>list1[::-1]</td>
            <td>tup[::-1]</td>
            <td>Sets are unordered</td>
        </tr>
        <tr>
            <td>reverse()</td>
            <td>list1.reverse()</td>
            <td>tup.reverse()</td>
            <td>Sets are unordered</td>
        </tr>
    </tbody>
</table>

    </tbody>
</table>
       </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Sorting</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sort() (same datatype will be reversed)</td>
            <td>list1.sort()</td>
            <td>---</td>
            <td>-----</td>
        </tr>
        <tr>
            <td>sorted() (new copy will be created)</td>
            <td>sorted(list1)</td>
            <td>sorted(tup)</td>
            <td>-----</td>
        </tr>
    </tbody>
</table>

# <h3 style="font-family: Candara; color: black;">Operations</h3>

<table style="font-family: Candara; color: black; width: 100%; border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th>Operation</th>
            <th>List</th>
            <th>Tuple</th>
            <th>Set</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Length</td>
            <td>len(abc)</td>
            <td>len(thistple)</td>
            <td>len(myset)</td>
        </tr>
        <tr>
            <td>Convert</td>
            <td>list()</td>
            <td>tuple()</td>
            <td>set()</td>
        </tr>
        <tr>
            <td>Number of Elements in Dataset</td>
            <td>list1.count(2)</td>
            <td>xyz.count(2)</td>
            <td>Sets hold unique elements</td>
        </tr>
        <tr>
            <td>Index of the First Element</td>
            <td>list1.index()</td>
            <td>xyz.index()</td>
            <td>Sets are unordered</td>
        </tr>
        <tr>
            <td>Index of the Specific Element</td>
            <td>list1.index("apple")</td>
            <td>xyz.index("apple")</td>
            <td>Sets are unordered</td>
        </tr>
    </tbody>
</table>
       </tr>
    </tbody>
</table>
       </tr>
    </tbody>
</table>