In [ ]:
# Install pyspark using command ---- !pip install pyspark py4j
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=2456b5f69c7e74bd6c71f17eeffb791cd6606f4fc2e9088c968ebc287b8497d6
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
df1 = {'name1': ['Alice', 'Charlie', 'Bob'], 'value1': [1, 2, 3]}
df1

{'name1': ['Alice', 'Charlie', 'Bob'], 'value1': [1, 2, 3]}

In [ ]:
# import SparkSession using --------- from pyspark.sql improt SparkSession

from pyspark.sql import SparkSession
from pyspark.sql import SparkSession

In [ ]:
# Create the sessiong using ----- SparkSession.builder.appName("Pracice").getOrCreate()
spark = SparkSession.builder.appName("Practice").getOrCreate()
spark

In [ ]:
# Read the Data

filePath = "/content/sample_data/Data_Train1.csv"


df = spark.read.csv(filePath,header=True,inferSchema=True)

df.show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|    Rajesh|    Kumar|  42|BANGALURU|       NULL|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Show the first few rows of the DataFrame
df.head(5)

[Row(First_name='Ram', Last_name='Kumar', Age=42, City='BANGALURU', Airline='IndiGo', Date_of_Journey='24-03-2019', Dep_Time=datetime.datetime(2024, 9, 28, 22, 20), Airfare=8715.1, Full Name='Ram-Kumar'),
 Row(First_name='Mohan', Last_name='Sharma', Age=52, City='CHENNAI', Airline='Air India', Date_of_Journey='01-05-2019', Dep_Time=datetime.datetime(2024, 9, 28, 5, 50), Airfare=0.0, Full Name='Mohan-Sharma'),
 Row(First_name='Tina', Last_name='Ali', Age=36, City='Pune', Airline='Jet Airways', Date_of_Journey='09-06-2019', Dep_Time=datetime.datetime(2024, 9, 28, 9, 25), Airfare=6995.55, Full Name='Tina-Ali'),
 Row(First_name='Jeetu', Last_name='Gandhi', Age=None, City='Delhi', Airline='IndiGo', Date_of_Journey='12-05-2019', Dep_Time=datetime.datetime(2024, 9, 28, 18, 5), Airfare=7840.56, Full Name='Jeetu-Gandhi'),
 Row(First_name='Meera', Last_name='Kumari', Age=None, City='LUCKNOW', Airline='IndiGo', Date_of_Journey='01-03-2019', Dep_Time=datetime.datetime(2024, 9, 28, 16, 50), Airfare=7813.89, Full Name='Meera-Kumari')]

In [ ]:
# Print Last Rows
df.tail(4)

[Row(First_name='Sunita', Last_name='Patil', Age=40, City='CHENNAI', Airline='Multiple carriers', Date_of_Journey='27-05-2019', Dep_Time=datetime.datetime(2024, 9, 3, 11, 25), Arrival_Time=datetime.datetime(2024, 9, 3, 19, 15), Dept_Hour=11, Dept_Minute=25, Arrival_Hour=19, Arrival_Minute=15, Full Name='Sunita-Patil'),
 Row(First_name='Amol', Last_name='Mahul', Age=40, City='LUCKNOW', Airline='Jet Airways', Date_of_Journey='01-03-2019', Dep_Time=datetime.datetime(2024, 9, 3, 5, 5), Arrival_Time=datetime.datetime(2024, 9, 3, 8, 0), Dept_Hour=5, Dept_Minute=5, Arrival_Hour=8, Arrival_Minute=0, Full Name='Amol-Mahul'),
 Row(First_name='Praveen', Last_name='Gurjar', Age=47, City='BANGALURU', Airline='Jet Airways', Date_of_Journey='12-03-2019', Dep_Time=datetime.datetime(2024, 9, 3, 8, 55), Arrival_Time=datetime.datetime(2024, 9, 3, 10, 25), Dept_Hour=8, Dept_Minute=55, Arrival_Hour=10, Arrival_Minute=25, Full Name='Praveen-Gurjar'),
 Row(First_name='Sunita', Last_name='Patil', Age=40, City='CHENNAI', Airline='Multiple carriers', Date_of_Journey='27-05-2019', Dep_Time=datetime.datetime(2024, 9, 3, 11, 25), Arrival_Time=datetime.datetime(2024, 9, 3, 19, 15), Dept_Hour=11, Dept_Minute=25, Arrival_Hour=19, Arrival_Minute=15, Full Name='Sunita-Patil')]

In [ ]:
df.printSchema()

root
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Airline: string (nullable = true)
 |-- Date_of_Journey: string (nullable = true)
 |-- Dep_Time: timestamp (nullable = true)
 |-- Airfare: double (nullable = true)
 |-- Full Name: string (nullable = true)

In [ ]:
# Know the DataType
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.dtypes

[('First_name', 'string'),
 ('Last_name', 'string'),
 ('Age', 'int'),
 ('City', 'string'),
 ('Airline', 'string'),
 ('Date_of_Journey', 'string'),
 ('Dep_Time', 'timestamp'),
 ('Airfare', 'double'),
 ('Full Name', 'string')]

In [ ]:
# Print all Unique Values
# df.distinct().show()
df.distinct().show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Drp Duplicates
#df.dropDuplicates().show()
df.dropDuplicates().show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-23 05:50:00|    0.0|Mohan-Sharma|
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-23 22:20:00| 8715.1|   Ram-Kumar|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-23 09:25:00|6995.55|    Tina-Ali|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-23 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-23 18:05:00|7840.56|Jeetu-Gandhi|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Describe dataframe
#df.describe().show()
df.describe().show()

+-------+----------+---------+------------------+---------+-----------+---------------+-----------------+------------+
|summary|First_name|Last_name|               Age|     City|    Airline|Date_of_Journey|          Airfare|   Full Name|
+-------+----------+---------+------------------+---------+-----------+---------------+-----------------+------------+
|  count|         7|        7|                 3|        7|          7|              7|                7|           7|
|   mean|      NULL|     NULL|43.333333333333336|     NULL|       NULL|           NULL|6717.078571428572|        NULL|
| stddev|      NULL|     NULL| 8.082903768654761|     NULL|       NULL|           NULL|3003.309068363475|        NULL|
|    min|     Jeetu|      Ali|                36|BANGALURU|  Air India|     01-03-2019|              0.0|Jeetu-Gandhi|
|    max|      Tina|   Sharma|                52|     Pune|Jet Airways|     24-03-2019|           8715.1|    Tina-Ali|
+-------+----------+---------+------------------+---------+-----------+---------------+-----------------+------------+

In [ ]:
# print column/columns
df.select(['Age','City']).show()

+----+---------+
| Age|     City|
+----+---------+
|  42|BANGALURU|
|  52|  CHENNAI|
|  36|     Pune|
|NULL|    Delhi|
|NULL|  LUCKNOW|
|NULL|    Delhi|
|NULL|  LUCKNOW|
+----+---------+

In [ ]:
df.select(['Airline','Date_of_Journey']).show()

+-----------------+---------------+
|          Airline|Date_of_Journey|
+-----------------+---------------+
|           IndiGo|     24-03-2019|
|        Air India|     01-05-2019|
|      Jet Airways|     09-06-2019|
|           IndiGo|     12-05-2019|
|           IndiGo|     01-03-2019|
|             NULL|     24-03-2019|
|             NULL|     01-05-2019|
|      Jet Airways|     01-03-2019|
|      Jet Airways|     12-03-2019|
|Multiple carriers|     27-05-2019|
|      Jet Airways|     12-03-2019|
|      Jet Airways|     01-03-2019|
|      Jet Airways|     12-03-2019|
|Multiple carriers|     27-05-2019|
|      Jet Airways|     01-03-2019|
|      Jet Airways|     12-03-2019|
|Multiple carriers|     27-05-2019|
+-----------------+---------------+

In [ ]:
# Add New Columns
# create a column showing fare of the flight is increased by 10
# df.withColumn('newColName',Value).show()

df.withColumn('newAirfare',df['Airfare']+10).show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+----------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|newAirfare|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+----------+
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|    8725.1|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|      10.0|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|   7005.55|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|   7850.56|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|   7823.89|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|   7850.56|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|   7823.89|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+----------+

In [ ]:
# Rename the column
# df.withColumsnRename('oldName',"NewName").show()

df.withColumnRenamed("Airline",'Fligh_Name').show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name| Age|     City| Fligh_Name|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Drop A Column/Columns
# df.drop("NameOftheColumn").show()
df.drop('Full Name').show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+

In [ ]:
# Drop A Column/Columns
df.drop('Arrival_Time','Dept_Minute','Dep_Time','Dept_Hour','Arrival_Hour').show()

+----------+---------+----+---------+-----------+---------------+-------+------------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------+------------+
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|    0.0|Mohan-Sharma|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|7813.89|Meera-Kumari|
+----------+---------+----+---------+-----------+---------------+-------+------------+

In [ ]:
# Drop Na
df.na.drop().show()

+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name|Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|       Ram|    Kumar| 42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma| 52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali| 36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Drop Na
df.dropna().show()

+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name|Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|       Ram|    Kumar| 42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma| 52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali| 36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# drop na from specific column
df.na.drop(subset=['Airline','Age']).show()

+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name|Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|       Ram|    Kumar| 42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma| 52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali| 36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
df.show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|    Rajesh|    Kumar|  42|BANGALURU|       NULL|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# fill na with specific value

df.na.fill(30).show()

+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name|Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|    Rajesh|    Kumar| 42|BANGALURU|       NULL|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|       Ram|    Kumar| 42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma| 52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali| 36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi| 30|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari| 30|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi| 30|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari| 30|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# fill na with specific value
df.fillna(5).show()

+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name|Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|    Rajesh|    Kumar| 42|BANGALURU|       NULL|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|       Ram|    Kumar| 42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma| 52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali| 36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi|  5|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|  5|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|  5|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|  5|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Fill na with some value
from pyspark.sql.functions import mean

meanVlaue = df.select(mean(df['Age'])).collect()[0][0]

meanVlaue

43.0

43.0

In [ ]:
df.na.fill(meanVlaue).show()

+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name|Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+
|    Rajesh|    Kumar| 42|BANGALURU|       NULL|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|       Ram|    Kumar| 42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma| 52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali| 36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi| 43|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari| 43|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi| 43|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari| 43|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+---+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
df.show()

+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|First_name|Last_name| Age|     City|    Airline|Date_of_Journey|           Dep_Time|Airfare|   Full Name|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+
|    Rajesh|    Kumar|  42|BANGALURU|       NULL|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|       Ram|    Kumar|  42|BANGALURU|     IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|   Ram-Kumar|
|     Mohan|   Sharma|  52|  CHENNAI|  Air India|     01-05-2019|2024-09-28 05:50:00|    0.0|Mohan-Sharma|
|      Tina|      Ali|  36|     Pune|Jet Airways|     09-06-2019|2024-09-28 09:25:00|6995.55|    Tina-Ali|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
|     Jeetu|   Gandhi|NULL|    Delhi|     IndiGo|     12-05-2019|2024-09-28 18:05:00|7840.56|Jeetu-Gandhi|
|     Meera|   Kumari|NULL|  LUCKNOW|     IndiGo|     01-03-2019|2024-09-28 16:50:00|7813.89|Meera-Kumari|
+----------+---------+----+---------+-----------+---------------+-------------------+-------+------------+

In [ ]:
# Fliter operation
# Print in Dept Minute where Dept Minute is greater than 5
#df.filter(cond01,cond02).show()

cond01 = df['City']=="BANGALURU"
cond02 = df['Airline']=='IndiGo'

df.filter(cond01 & cond02).show()

+----------+---------+---+---------+-------+---------------+-------------------+-------+---------+
|First_name|Last_name|Age|     City|Airline|Date_of_Journey|           Dep_Time|Airfare|Full Name|
+----------+---------+---+---------+-------+---------------+-------------------+-------+---------+
|       Ram|    Kumar| 42|BANGALURU| IndiGo|     24-03-2019|2024-09-28 22:20:00| 8715.1|Ram-Kumar|
+----------+---------+---+---------+-------+---------------+-------------------+-------+---------+

In [ ]:
# Filter and print only 'Dep_Time','Arrival_Time'
#df.filter(cond01 |cond02 ).select([ColumnsName]).show()

cond01 = df['City']=="BANGALURU"
cond02 = df['Airline']=='IndiGo'

df.filter(cond01 & cond02).select(['City','Airline']).show()

+---------+-------+
|     City|Airline|
+---------+-------+
|BANGALURU| IndiGo|
+---------+-------+

In [ ]:
# filter with two conditions
# df.filter((cond01) operator (cond02)).show()
cond01 = df['City']=='BANGALURU'
cond02 = df['Airline']=='Indigo'

df.filter(cond01 | cond02).show()

+----------+---------+---+---------+-------+---------------+-------------------+-------+---------+
|First_name|Last_name|Age|     City|Airline|Date_of_Journey|           Dep_Time|Airfare|Full Name|
+----------+---------+---+---------+-------+---------------+-------------------+-------+---------+
|       Ram|    Kumar| 42|BANGALURU| IndiGo|     24-03-2019|2024-09-23 22:20:00| 8715.1|Ram-Kumar|
+----------+---------+---+---------+-------+---------------+-------------------+-------+---------+

In [ ]:
## Group By and Aggregate Function
# df.grouoBy(columnName).count().show()
df.groupBy('City','Airline').count().show()

+---------+-----------+-----+
|     City|    Airline|count|
+---------+-----------+-----+
|     Pune|Jet Airways|    1|
|  LUCKNOW|     IndiGo|    2|
|BANGALURU|     IndiGo|    1|
|    Delhi|     IndiGo|    2|
|BANGALURU|       NULL|    1|
|  CHENNAI|  Air India|    1|
+---------+-----------+-----+

In [ ]:
df.groupBy('Airline').sum().show()

+-----------+--------+------------+
|    Airline|sum(Age)|sum(Airfare)|
+-----------+--------+------------+
|  Air India|      52|         0.0|
|       NULL|      42|      8715.1|
|Jet Airways|      36|     6995.55|
|     IndiGo|      42|     40024.0|
+-----------+--------+------------+

In [ ]:
df.groupBy('Airline').mean().show()

+-----------+--------+------------+
|    Airline|avg(Age)|avg(Airfare)|
+-----------+--------+------------+
|  Air India|    52.0|         0.0|
|       NULL|    42.0|      8715.1|
|Jet Airways|    36.0|     6995.55|
|     IndiGo|    42.0|      8004.8|
+-----------+--------+------------+

In [ ]:
# Create a list of dictionaries containing sample data
data = [{"Name": "John", "Age": 25},
        {"Name": "Alice", "Age": 30},
        {"Name": "Bob", "Age": 35}]


# Create DataFrame using the list of dictionaries
df = spark.createDataFrame(data)
df.show()

+---+-----+
|Age| Name|
+---+-----+
| 25| John|
| 30|Alice|
| 35|  Bob|
+---+-----+

In [ ]:
df = spark.createDataFrame(data)
df.show()

+---+-----+
|Age| Name|
+---+-----+
| 25| John|
| 30|Alice|
| 35|  Bob|
+---+-----+

In [ ]:
# JOINING AND MERGING

In [ ]:
from pyspark.sql import SparkSession          # Create a SparkSession
spark = SparkSession.builder.appName("JoinExample").getOrCreate()      # Sample data for DataFrame1

+-------+------+
|  name1|value1|
+-------+------+
|  Alice|     1|
|Charlie|     2|
|    Bob|     3|
+-------+------+

In [ ]:
# Create 1st DataFrame

data1 = [("Alice", 1),("Charlie", 2),("Bob", 3)]
columns1 = ["name1", "value1"]

df1 = spark.createDataFrame(data=data1, schema=columns1)
df1.show()

+-------+------+
|  name1|value1|
+-------+------+
|  Alice|     1|
|Charlie|     2|
|    Bob|     3|
+-------+------+

In [ ]:
# Sample data for DataFrame2
data2 = [("Alice", 10), ("Bob", 20), ("David", 30)]
columns2 = ["name2", "value2"]

df2 = spark.createDataFrame(data=data2, schema=columns2)
df2.show()

+-----+------+
|name2|value2|
+-----+------+
|Alice|    10|
|  Bob|    20|
|David|    30|
+-----+------+

In [ ]:
# Joining DataFrames
# commonCOlumns = df1['name1']==df2['name2']
# df1.join(df2,on=commonCol,how='inner').show()

commonCol = df1['name1']==df2['name2']
df1.join(df2,on=commonCol,how='inner').show()

+-----+------+-----+------+
|name1|value1|name2|value2|
+-----+------+-----+------+
|Alice|     1|Alice|    10|
|  Bob|     3|  Bob|    20|
+-----+------+-----+------+

In [ ]:
# Outer Join Example
df1.join(df2, on=commonCol, how="inner").show()

+-----+------+-----+------+
|name1|value1|name2|value2|
+-----+------+-----+------+
|Alice|     1|Alice|    10|
|  Bob|     3|  Bob|    20|
+-----+------+-----+------+

In [ ]:
# Left Outer Join Example
df1.join(df2, on=commonCol, how="left_outer").show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|Charlie|     2| NULL|  NULL|
|    Bob|     3|  Bob|    20|
+-------+------+-----+------+

In [ ]:
# Right Outer Join Example
df1.join(df2, on=commonCol, how="right_outer").show()

+-----+------+-----+------+
|name1|value1|name2|value2|
+-----+------+-----+------+
|Alice|     1|Alice|    10|
|  Bob|     3|  Bob|    20|
| NULL|  NULL|David|    30|
+-----+------+-----+------+

In [ ]:
df1.join(df2,on=commonCol,how='outer').show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|    Bob|     3|  Bob|    20|
|Charlie|     2| NULL|  NULL|
|   NULL|  NULL|David|    30|
+-------+------+-----+------+

In [ ]:
# Left Semi Join Example math available in right
df1.join(df2, on=commonCol, how="left_semi").show()

+-----+------+
|name1|value1|
+-----+------+
|Alice|     1|
|  Bob|     3|
+-----+------+

In [ ]:
# Left Anti Join Example math is not there is right df
df1.join(df2, on=commonCol, how="left_anti").show()

+-------+------+
|  name1|value1|
+-------+------+
|Charlie|     2|
+-------+------+

In [ ]:
# Cross Join Example
newDF = df1.crossJoin(df2)
newDF.orderBy('name1','name2').show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|  Alice|     1|  Bob|    20|
|  Alice|     1|David|    30|
|    Bob|     3|Alice|    10|
|    Bob|     3|  Bob|    20|
|    Bob|     3|David|    30|
|Charlie|     2|Alice|    10|
|Charlie|     2|  Bob|    20|
|Charlie|     2|David|    30|
+-------+------+-----+------+

In [ ]:
df1.show()

+-------+------+
|  name1|value1|
+-------+------+
|  Alice|     1|
|Charlie|     2|
|    Bob|     3|
+-------+------+

In [ ]:
df2.show()

+-----+------+
|name2|value2|
+-----+------+
|Alice|    10|
|  Bob|    20|
|David|    30|
+-----+------+