In [4]:
# IF condition
# check Value
# please check if the value is less than or equal to 10

i = 12

if i<=10:
    print("Values is less Than 10")
elif i<=15:
    print("Values is less Than 15")
else:
    print("Value is greter than 15")

Values is less Than 15

In [9]:
# check if the the given is infant <=2 child <=15 or Adult or old person(greater than 55)

age = 100

if age<=2:
    print("Infant")
elif age<=15:
    print("Child")
else:
    print("Adult")

Adult

In [ ]:
HOmework
# create two examples of if coditions
# print "sunil" 15 times using while loop
# apply for loop on all sequence Datatype incuding range

In [2]:
'''IF Else'''
"check if the age is of infant"

# age less than or equal to 2 is infant

age = 2

if age <=2:
    print("Infant")
else:
    print("Not infant")

Infant

In [7]:
'''If Else'''
age = 56
'''
inf <=2
child<=12
adult>12
'''

if age <=2:
    print("INF")
elif age<=12:
    print("child")
elif age<=55:
    print("Adult")
else:
    print("Old Persion")

Old Persion

In [10]:
Stall_1 = 'pineapple'
Stall_2 = 'pineapple'



if Stall_1 == "pineapple":
    print("go home with pineapple from Stall_1")
elif Stall_2 == "pineapple":
    print("go home with pineapple from Stall_2")

else:
    print("pineapple Not Found")

pineapple Not Found

In [16]:
'''Nested If'''



Stall_1 = 'Apple'
Stall_1_clean = "No"
price = 140


if Stall_1 == "Banana": # False
    if Stall_1_clean == "Yes" : #  False
        if price <= 130: # False
            print("Go home with pineapple : Stall_1")
        else:
            print("pineapple are availalbe, stall clean but Price exceeds limit")
    else:
        print("pineapple Found but Stall not clean")
else:
    print("pineapple Not found")

pineapple Not found

In [20]:
# all the value True
Stall_1 = 'Banana'
Stall_1_clean = "Yes"
price = 100

#         True                        True                   True
if Stall_1 == "Banana" and Stall_1_clean == "Yes" and price <= 130:
    print("Go home with pineapple : Stall_1")
else:
    print("Codition Not Matched")

Go home with pineapple : Stall_1

In [24]:
# bring any fruit from market

Stall_1 = 'pineapple'
Stall_1_clean = "No"
price = 150

#         False                 False                     False
if Stall_1 == "Banana" or Stall_1_clean == "Yes" or price <= 130:
    print("Go home with fruit : Stall_1")
else:
    print("Codition Not Matched")

Codition Not Matched

# HomeWORK

In [ ]:
# bring pineapple if store clean

Stall_1 = 'banana'
Stall_1_clean = "Yes"

Stall_2 = "banana"
Stall_2_clean = "Yes"

Stall_3 = "apple"
Stall_3_clean = "Yes"

if Stall_1 == "pineapple" and Stall_1_clean == "Yes": 
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes": 
    print("Go home with pineapple from Stall_2")
elif Stall_3 == "pineapple" and Stall_3_clean == "Yes": 
    print("Go home with pineapple from Stall_3")
else:
    print("No stall found has pineapple")

In [ ]:
# Stall 1
Stall_1 = 'banana'
Stall_1_clean = "NO"
price_1 = 150

# Stall 2
Stall_2 = 'banana'
Stall_2_clean = "NO"
price_2 = 130

# Stall 3
Stall_3 = 'banana'
Stall_3_clean = "Yes"
price_3 = 130

if Stall_1 == "pineapple" and Stall_1_clean == "Yes" and price_1 <= 130:
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes" and price_2 <= 130:
    print("Go home with pineapple from Stall_2")
elif Stall_3 == "pineapple" and Stall_3_clean == "Yes" and price_3 <= 130:
    print("Go home with pineapple from Stall_3")

else:
    print("Pineapple not found or conditions not met for any stall")

In [ ]:
Stall_1 = 'pineapple'
Stall_2 = 'banana'
Stall_3 = 'apple'

if Stall_1 == "pineapple" or Stall_2 == "pineapple" or Stall_3 == "pineapple":
    print("Go Home with pineapples")
else:
    print("Pineapple not found")

In [ ]:
# While LOOP

In [12]:
print('*')
print('*')
print('*')
print('*')
print('*')
print('*')
print('*')
print('*')
print('*')
print('*')

*
*
*
*
*
*
*
*
*
*

In [19]:
START = 1
END = 10
while START <=END:
    print('rajesh')
    START=START+1

rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh
rajesh

In [25]:
i = 0

while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# For LOOP

# range
# sequence type, 
# list,tupple,string
# mapping type (key, Value)
# Dict
# Set type
# Set(unique,Unordered)

In [27]:
setOne = {1,2,3,4,5}

for i in tuppleOne:
    print(i)

1
2
3
4
5

In [28]:

name = "Rajesh"
for i in name:
    print(i)

R
a
j
e
s
h

In [30]:
newDict = {'name':"RAJESH","AGE":32}

for i in newDict.items():
    print(i)

('name', 'RAJESH')
('AGE', 32)

In [24]:
for i in range(2,10,3):
    print(i)

2
5
8

In [28]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [29]:
'''For Loops'''
fruits = ["apple", "banana", "cherry","kiwi"]

for i in fruits:
    print(i)

apple
banana
cherry
kiwi

In [30]:
numbers1 = [1,2,3,4,5,6,7,8]

for i in numbers1:
    print(i)

1
2
3
4
5
6
7
8

In [31]:
fruits = ("apple", "banana", "cherry","kiwi")
for i in fruits:
    print(i)

apple
banana
cherry
kiwi

In [40]:
# Dict
newDict = {'Name':"Rajesh","Age":"32","City":"Mumbai"}
# keys()
# values()
# itmes()

for i in newDict.keys():
    print(i)

Name
Age
City

In [33]:
range1 = range(1,5)
for x in range1:
  print(x)

1
2
3
4

In [34]:
for i in "Rajesh":
    print(i)

R
a
j
e
s
h

# Nested Loop

In [ ]:
# loop inside loop
# Basic understanding of Nested Loop

In [42]:
'''Nested Loop'''

adj = ["Red", "Yellow", "LightGreen"]
fruits = ["Apple", "Banana", "Grapes"]

for i in adj:
    for j in fruits:
        print(i,j)

Red Apple
Red Banana
Red Grapes
Yellow Apple
Yellow Banana
Yellow Grapes
LightGreen Apple
LightGreen Banana
LightGreen Grapes

In [44]:
# Match the values
firstList = [3, 2, 1]
secondList = [1, 2, 3]
third List = [1,2,3]
    for j in secondList:
        if i==j:
            print(i,j)

3 3
2 2
1 1

In [45]:
# HomeWork

In [ ]:
# match the values
firstList = [3, 2, 1]
secondList = [1, 2, 3]
third List = [1,2,3]

for i in firstList:
    for j in secondList:
        if i==j:
            print(i,j)

In [46]:
# Print only matching Values

firstList = [3, 2, 1]
secondList = [1, 2, 3]

for i in firstList:
    for j in secondList:
        if i == j:
            print(i,j," Match")
        else:
            print(i,j," Not Match")

3 1  Not Match
3 2  Not Match
3 3  Match
2 1  Not Match
2 2  Match
2 3  Not Match
1 1  Match
1 2  Not Match
1 3  Not Match

In [ ]:
# Nested Loop

In [ ]:

'''print below pattern'''
'''
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6    
'''

In [56]:
for j in range(1,7):
    for i in range(1,7):
        print(i,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [57]:
for j in range(1,7):
    for i in range(1,7):
        print(i,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [58]:
for i in range(1,7):
    for j in range(1,7):
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [ ]:

'''print below pattern'''
'''
$ $ $ $ $ $ 
$ $ $ $ $ $ 
$ $ $ $ $ $  
$ $ $ $ $ $ 
$ $ $ $ $ $ 
$ $ $ $ $ $ 
'''

In [62]:
for i in range(1,7):
    for j in range(1,7):
        print("=",end=" ")
    print()

= = = = = =
= = = = = =
= = = = = =
= = = = = =
= = = = = =
= = = = = =

In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

In [ ]:
'''
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * *    '''

In [63]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [64]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:


'''
* 
* * 
* * * 
* * * * 
* * * * *    
'''

In [68]:
for i in range(1,2):
    print("*",end=" ")
print()
for i in range(1,3):
    print("*",end=" ")
print()
for i in range(1,4):
    print("*",end=" ")
print()
for i in range(1,5):
    print("*",end=" ")
print()
for i in range(1,6):
    print("*",end=" ")
print()

*
* *
* * *
* * * *
* * * * *

In [76]:
for j in range(1,7):
    for i in range(1,j):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
'''Nested Loop'''
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

In [ ]:
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

In [ ]:
'''
* * * * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* '''

In [79]:

for j in range(1,7): 
    print("*",end=" ")
print()
for j in range(2,7):
    print("*",end=" ")
print()
for j in range(3,7): 
    print("*",end=" ")
print()
for j in range(4,7):
    print("*",end=" ")
print()
for j in range(5,7):
    print("*",end=" ")
print()
for j in range(6,7):
    print("*",end=" ")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [85]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [86]:
for i in range(1,7):
    for j in range(i,7): 
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

In [ ]:

for i in range(1,7):
    k = 7-i
    for j in range(1,k):
        print("*",end=" ")
    print()

In [87]:
'''break Statement'''
''' break statement immediately terminates the loop'''

for i in range(6):
    if i==3:
        break
    
    print(i)

0
1
2

In [88]:
'''Continue'''
'''continue statement skips and jump to the rest iteration of the loop '''

for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5