In [ ]:
# use AND OR IN IF CONDITIONS

In [10]:
Stall_1 = 'pineapple'
Stall_2 = 'pineapple'

if Stall_1 == "pineapple":
    print("go home with pineapple from Stall_1")
elif Stall_2 == "pineapple":
    print("go home with pineapple from Stall_2")

else:
    print("pineapple Not Found")

pineapple Not Found

In [26]:
Stall_1 = 'Banana'
Stall_1_clean = "Yes"
price = 100

if (Stall_1 == "Banana") or (Stall_1_clean == "Yes") or (int(price) <=100):
    print("go home with Fruits")
else:
    print("Cant Buy Bananas")

go home with Fruits

 ASDF

'ASDF'

In [20]:
# all the value True
Stall_1 = 'Banana'
Stall_1_clean = "Yes"
price = 100


#         True                        True                   True
if Stall_1 == "Banana" and Stall_1_clean == "Yes" and price <= 130:
    print("Go home with pineapple : Stall_1")
else:
    print("Codition Not Matched")

Go home with pineapple : Stall_1

In [24]:
# bring any fruit from market

Stall_1 = 'pineapple'
Stall_1_clean = "No"
price = 150

#         False                 False                     False
if Stall_1 == "Banana" or Stall_1_clean == "Yes" or price <= 130:
    print("Go home with fruit : Stall_1")
else:
    print("Codition Not Matched")

Codition Not Matched

# HomeWORK

In [29]:
# bring pineapple if store clean

Stall_1 = 'pineapple'
Stall_1_clean = "Yes"

Stall_2 = "pineapple"
Stall_2_clean = "Yes"

Stall_3 = "Apple"
Stall_3_clean = "Yes"


if Stall_1 == "pineapple" and Stall_1_clean == "Yes": 
    print("Go home with pineapple from Stall_1")

elif Stall_2 == "pineapple" and Stall_2_clean == "Yes": 
    print("Go home with pineapple from Stall_2")

elif Stall_3 == "pineapple" and Stall_3_clean == "Yes": 
    print("Go home with pineapple from Stall_3")
else:
    print("No stall found has pineapple")

Go home with pineapple from Stall_1

In [ ]:
# Stall 1
Stall_1 = 'banana'
Stall_1_clean = "NO"
price_1 = 150

# Stall 2
Stall_2 = 'banana'
Stall_2_clean = "NO"
price_2 = 130

# Stall 3
Stall_3 = 'banana'
Stall_3_clean = "Yes"
price_3 = 130

if Stall_1 == "pineapple" and Stall_1_clean == "Yes" and price_1 <= 130:
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes" and price_2 <= 130:
    print("Go home with pineapple from Stall_2")
elif Stall_3 == "pineapple" and Stall_3_clean == "Yes" and price_3 <= 130:
    print("Go home with pineapple from Stall_3")

else:
    print("Pineapple not found or conditions not met for any stall")

In [ ]:
Stall_1 = 'pineapple'
Stall_2 = 'banana'
Stall_3 = 'apple'

if Stall_1 == "pineapple" or Stall_2 == "pineapple" or Stall_3 == "pineapple":
    print("Go Home with pineapples")
else:
    print("Pineapple not found")

# Nested Loop

In [ ]:
# loop inside loop
# Basic understanding of Nested Loop

Red Apple
Red Banana
Red Grapes
Yellow Apple
Yellow Banana
Yellow Grapes
LightGreen Apple
LightGreen Banana
LightGreen Grapes

In [42]:
'''Nested Loop'''

adj = ["Red", "Yellow", "LightGreen"]
fruits = ["Apple", "Banana", "Grapes"]

for i in adj:
    for j in fruits:
        print(i,j)

Red Apple
Red Banana
Red Grapes
Yellow Apple
Yellow Banana
Yellow Grapes
LightGreen Apple
LightGreen Banana
LightGreen Grapes

In [42]:
# Match the values
firstList = [3, 2, 1,4]
secondList = [1, 2, 3,5]

for i in firstList:
    for j in secondList:
        if i==j:
            print(i,j,"Match")
        else:
            print(i,j,"Not Match")

3 1 Not Match
3 2 Not Match
3 3 Match
3 5 Not Match
2 1 Not Match
2 2 Match
2 3 Not Match
2 5 Not Match
1 1 Match
1 2 Not Match
1 3 Not Match
1 5 Not Match
4 1 Not Match
4 2 Not Match
4 3 Not Match
4 5 Not Match

In [41]:
# Match the values
firstList = [3, 2, 1]
secondList = [1, 2, 3]
third List = [1,2,3]
    for j in secondList:
        if i==j:
            print(i,j,"Match")
        else:
            print(i,j,"Not Match")

SyntaxError: invalid syntax (3751612392.py, line 4)

In [49]:
Firstlist = [1,2,3,4]
Secondlist = [1,2,3,4,5]
Thirdlist = [1,2,3,4]
for i in Firstlist:
   for j in Secondlist:
       for k in Thirdlist:
           if i==j and j==k:
               print (i,j,k,'Match')

1 1 1 Match
2 2 2 Match
3 3 3 Match
4 4 4 Match

In [45]:
# HomeWork

In [43]:
# match the values of  Three List
firstList = [3,2,1]
secondList = [1,2,3]
thirdList = [1,2,3]

In [46]:
# Print only matching Values

firstList = [3, 2, 1]
secondList = [1, 2, 3]

for i in firstList:
    for j in secondList:
        if i == j:
            print(i,j," Match")
        else:
            print(i,j," Not Match")

3 1  Not Match
3 2  Not Match
3 3  Match
2 1  Not Match
2 2  Match
2 3  Not Match
1 1  Match
1 2  Not Match
1 3  Not Match

In [ ]:
# Print SOme Patterns

In [ ]:

'''print below pattern'''
'''
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6    
'''

In [52]:
for i in range(1,7):
    print("1 2 3 4 5 6")

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [57]:
for i in range(1,7):
    for j in range(1,7):
        print(j,end = " ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [56]:
for j in range(1,7):
    for i in range(1,7):
        print(i,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [57]:
for j in range(1,7):
    for i in range(1,7):
        print(i,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [58]:
for i in range(1,7):
    for j in range(1,7):
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [ ]:

'''print below pattern'''
'''
$ $ $ $ $ $ 
$ $ $ $ $ $ 
$ $ $ $ $ $  
$ $ $ $ $ $ 
$ $ $ $ $ $ 
$ $ $ $ $ $ 
'''

In [68]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [62]:
for i in range(1,7):
    for j in range(1,7):
        print("=",end=" ")
    print()

= = = = = =
= = = = = =
= = = = = =
= = = = = =
= = = = = =
= = = = = =

In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

In [ ]:
'''
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * *    '''

In [63]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [64]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:


'''
* 
* * 
* * * 
* * * * 
* * * * *    
'''

In [77]:
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [68]:
for i in range(1,2):
    print("*",end=" ")
print()
for i in range(1,3):
    print("*",end=" ")
print()
for i in range(1,4):
    print("*",end=" ")
print()
for i in range(1,5):
    print("*",end=" ")
print()
for i in range(1,6):
    print("*",end=" ")
print()

*
* *
* * *
* * * *
* * * * *

In [76]:
for j in range(1,7):
    for i in range(1,j):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
'''Nested Loop'''
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

In [ ]:
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

In [ ]:
'''
* * * * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* '''

In [81]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [79]:

for j in range(1,7): 
    print("*",end=" ")
print()
for j in range(2,7):
    print("*",end=" ")
print()
for j in range(3,7): 
    print("*",end=" ")
print()
for j in range(4,7):
    print("*",end=" ")
print()
for j in range(5,7):
    print("*",end=" ")
print()
for j in range(6,7):
    print("*",end=" ")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [85]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [86]:
for i in range(1,7):
    for j in range(i,7): 
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

In [ ]:

for i in range(1,7):
    k = 7-i
    for j in range(1,k):
        print("*",end=" ")
    print()

In [82]:
'''break Statement'''
''' break statement immediately terminates the loop'''

for i in range(1,6):
    if i==3:
        break
    print(i)

1
2

In [83]:
'''Continue'''
'''continue statement skips and jump to the rest iteration of the loop '''

for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5