In [1]:
'Creating List'

'''Method 01'''
abc = ["apple", "banana", "cherry", "orange"]
abc

['apple', 'banana', 'cherry', 'orange']

In [2]:
'''Method 02 using cunstructor'''

abc = list(("apple", "banana", "cherry", "orange"))
abc

['apple', 'banana', 'cherry', 'orange']

In [3]:
xyzList = list((1,2,3,4,5))
xyzList

[1, 2, 3, 4, 5]

# Performing some operations on List

# Slicing

In [4]:
# +Ve and -ve Indexing
abc =  ['apple', 'banana', 'cherry', 'orange']
#+ve       0        1        2          3
#-ve      -4       -3        -2       -1

In [ ]:
# print apple and banana with +ve index
abc[2]

In [ ]:
# print apple and banana with -ve index
abc[-4:]

In [ ]:
# print Only Banana
abc[-3]

In [ ]:
sliced_list = abc[:3]
print(sliced_list)

In [ ]:
# Slice from index 1 to index 3 (exclusive)
print(abc[1:3])
print(abc[:2])
print(abc[1:])
print(abc[:])

In [ ]:
print(abc[-2:])
print(abc[:-2])
print(abc[-1:])
print(abc[:-1])

# Reversed

In [29]:
# method one readymade fucntion 
# it will reverse the original List
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)
abc.reverse()
print(abc)

['apple', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'apple']

In [30]:
# method Two Indexing 
# it will create a copy then reverse the list.
abc = list(("apple", "banana", "cherry", "orange"))
print(abc)
print(abc[::-1])
print(abc)

['apple', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'orange']

# Iterating over list

In [34]:
'''Iterating over list '''

'Iterating over list '

In [31]:
abc = ["apple", "banana", "cherry", "orange"]

for i in abc:
    print(i)

apple
banana
cherry
orange

# Lenght of List

In [35]:
'''len Of List'''
abc = ['apple', 'banana', 'cherry', 'orange']

len(abc)

4

# Count

In [37]:
abc = ['apple', 'banana', 'apple','apple', 'banana', 'cherry', 'orange', 'orange']

2

# Appearances

In [39]:
'''Check if Item Exists'''
abc = ['apple', 'banana', 'apple', 'banana', 'cherry', 'orange']


'Pineapple' in abc

False

# Changing/Replace

In [41]:
'''Changing/Replace the item'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3


abc[1] = "Pineapple"

abc

['apple', 'Pineapple', 'cherry', 'orange']

# Adding an Item

In [42]:
'''To add an item at the Last index'''
abc = ['apple', 'banana', 'cherry', 'orange']
#         0         1        2          3

abc.append('orange')
abc

['apple', 'banana', 'cherry', 'orange', 'orange']

In [43]:
'''To add an item at the specified index'''

abc.insert(2,"Pineapple")
abc

['apple', 'banana', 'Pineapple', 'cherry', 'orange', 'orange']

# Remove

In [46]:
'''To removes the specified item:'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']

abc.remove('apple')
abc

['pineapple', 'banana', 'kiwi', 'orange']

In [47]:
'''To removes the Last item use pop method'''
abc = ['apple', 'pineapple', 'banana', 'kiwi','orange']
abc.pop()
abc

['apple', 'pineapple', 'banana', 'kiwi']

In [48]:
'''To removes by Index'''
abc = ['apple', 'pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc[2]
abc

['apple', 'pineapple', 'kiwi', 'orange', 'orange']

In [49]:
del abc[1]
abc

['apple', 'kiwi', 'orange', 'orange']

In [ ]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

# Empty and Delete

In [50]:
'''Clear'''
'''To empty the list:'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

abc.clear()
print(abc)

[]

In [51]:
'''Delete'''
'''To delete the Dataset(list) Completely'''
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

del abc
abc

NameError: name 'abc' is not defined

# Copy

In [54]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method One
newList = abc.copy()
newList

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [53]:
#Method Two
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Two
newList = abc
newList

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [55]:
abc = ['pineapple', 'banana', 'kiwi', 'orange', 'orange']

#Method Three

newList = list(abc)
newList

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [56]:
abcTuple = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

#Method Three
mylist = list(abcTuple)
print(mylist)

['pineapple', 'banana', 'kiwi', 'orange', 'orange']

In [ ]:
abcSet = {'pineapple', 'banana', 'kiwi', 'orange', 'orange'}

#Method Three
mylist = list(abcSet)
print(mylist)

# Join

In [58]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [59]:
'''Method 01 by using + operator'''

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

In [60]:
'''Method 02
by using extend'''
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list2.extend(list1)
list2

[1, 2, 3, 'a', 'b', 'c']

In [63]:
'''Method 03
by using append,'''

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list1:
    list2.append(i)
    print(list2)

[1, 2, 3, 'a']
[1, 2, 3, 'a', 'b']
[1, 2, 3, 'a', 'b', 'c']

# Print index of an Element

In [65]:
'''Index of the element with the specified value'''
list1 = ["a", "b" , "c", "c", "c"]


list1.index('c')

2

# Sort the List

In [75]:
# Does Not Modify the Original: It creates and returns a new sorted list, leaving the original iterable unchanged.
# this method is not memory Efficient
list2 = [1,3, 2,4]

print(sorted(list2,reverse=True))
print(list2)

[4, 3, 2, 1]
[1, 3, 2, 4]

In [73]:
# Modifies the Original List: It changes the original list and does not return a new list.
# In-Place Sorting: Since it modifies the original list, it uses less memory compared to sorted().

list2 = [1,3, 2,4]

list2.sort()
list2

[1, 2, 3, 4]

In [ ]:
list2 = [1, 2, 3,3]

list2.sort(reverse=False)
list2

# Convert list to dict

In [77]:

abc = ["apple", "banana", "cherry", "orange"]
xyz = [1, 2, 3, 4,5,6]

dict(zip(abc,xyz))

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4}

# Print Even Numbers

In [79]:
# 
abc = range(1,10)

for i in abc:
    if i%2==0:
        print(i)

2
4
6
8

# Use of list Comprehension

In [90]:
'Create copy of a list from existing list'

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = []

for i in fruits:
    if "a" in i or 'e' in i:
        newList.append(i)
print(newList)

[i for i in fruits if 'a' in i or 'e' in i]

['apple', 'banana', 'cherry', 'mango']

['apple', 'banana', 'cherry', 'mango']

In [3]:
newlist = []

for i in fruits:
    newlist.append(i)
    
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [5]:
'''Using List Comprehension'''
#[exp   for x in iterable]

newList = [x for x in fruits]

In [91]:
# Multiply with Two only if the number Even Number
raneOne = range(1,10)
newList = [x*2   for x in raneOne]
newList

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [93]:
[i*2 for i in raneOne if i%2==0]

[4, 8, 12, 16]

In [ ]:
#         [exp   for i in iterable]
newList = [i      for i in fruits]
newList

In [ ]:
'Create New a New list which has "a" in common'


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [9]:
newlistWithA = []

for i in fruits:
    if 'a' in i:
        newlistWithA.append(i)
        
print(newlistWithA)

['apple', 'banana', 'mango']

In [10]:
'create New a New list which "a" in common using List comprehension'

# [exp    for i in iterable       if condition  ]

['apple', 'banana', 'mango']

In [ ]:
newlistWithA2 = [x for x in fruits if "a" in x]
newlistWithA2

In [16]:
# Generate a new list containing the squares of the numbers in the list [1, 2, 3, 4, 5, 6, 7]
listOne = [1, 2, 3, 4, 5, 6, 7]
newList1 = []

for i in listOne:
    newList1.append(i**2)

newList1

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# [exp   iteration ]

newList = [x**2 for i in listOne]

newList

In [20]:
# Create a new list of squared of each Even_Number
listOne = [1, 2, 3, 4, 5, 6, 7]

newListSq = []

for i in listOne:
    if i%2==0:
        newListSq.append(i**2)
        
print(newListSq)

[4, 16, 36]

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]


# Using list comprehension to create a new list of squared of Even Number

oddNumberSqure = [i**2 for i in listOne if i%2 == 0]
oddNumberSqure

In [ ]:
# Using list comprehension to create a new list of squared of each Number
# [exp   iteration           condition     ]
# [i**2 for x in range(1,7)  if i%2==0]

listOne = [1, 2, 3, 4, 5, 6, 7]

# Using list comprehension to create a new list of squared of ODD Number

oddNumberSqure = [i**2 for i in listOne if i%2 != 0]
oddNumberSqure

In [22]:
# Example: Filtering numbers less than 3 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7,]
newLIST = []

for x in numbers:
    if x <3 or x >5:
        newLIST.append(x)
newLIST

[1, 2, 6, 7]

In [ ]:
listOne = [0,1,2,3,4,5,6]
x  if x<3     else   x   if x>5  else

In [29]:
# Example: Print Square of numbers which are less than 3 or greater 5 using list comprehension
#[exp     for x in iterable	   if cond1 	       cond2 ...  ]

listOne = [0,1,2,3,4,5,6]

[x**2 for x in listOne if x <3  or  x>5]

[]

In [22]:
# Example: Print Square of numbers which are less than 3 or greater 5 using list comprehension
#[exp     for x in iterable	   if cond1 	       cond2 ...  ]

listOne = [0,1,2,3,4,5,6]

[x  for x in listOne if x % 2 == 0 and  x > 5   ]

[6]

In [23]:
[x  for x in listOne if x % 2 == 0  if x > 5   ]

[6]

In [106]:
# multiply a Number by 2   if it is less or equal to 2 
#   devide a number by 2   if it is less or equal to 4
# else add with 2

listOne = [1,2,3,4,5,6,7]

for i in listOne:
    if i<=2:
        print(i,i*2)
    elif i<=4:
        print(i,i/2)
    else:
        print(i,i+2)

[i*2 if i<=2 else i/2 if i<=4 else i+2 for i in listOne]

1 2
2 4
3 1.5
4 2.0
5 7
6 8
7 9

[2, 4, 1.5, 2.0, 7, 8, 9]

In [119]:

list01 = ['Rajesh','Sunil','Praveen']

'''if j in value print that name
if n in value print that name
if p in value print that name'''

for i in list01:
    if 'j' in i:
        print(i)
    elif 'n' in i:
        print(i)
    elif 'P' in i:
        print(i)
        

[i if 'j' in i else i if 'n' in i else i if 'P' in i else "" for i in list01]

Rajesh
Sunil
Praveen

['Rajesh', 'Sunil', 'Praveen']

In [12]:
# [exp1  if cond1   else  exp2 if cond2    else exp3     for x in iterable]
[x*2   if x<=2     else  x/2 if x<=4       else x+2      for x in listOne]

[0, 2, 4, 1.5, 2.0, 7, 8]

In [107]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7]
filtered_numbers = [x for x in numbers if x <= 3 or x > 5]
print(filtered_numbers)

[1, 2, 3, 6, 7]