In [2]:
thistple = ("apple", "banana", "cherry", "orange")
thistple = tuple(("apple", "banana", "cherry", "orange"))

# Slicing

In [3]:
print(thistple[1]) 
print(thistple[-1]) 
print(thistple[2:5])
print(thistple[:4])
print(thistple[2:])
print(thistple[-4:-1])

banana
orange
('cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange')
('apple', 'banana', 'cherry')

# Reverse

In [5]:
# Reversing a tuple by converting to a list
thistple = ("apple", "banana", "cherry", "orange")
reveTplt = reversed(thistple)
tuple(reveTplt)

('orange', 'cherry', 'banana', 'apple')

In [6]:
thistple[::-1]

('orange', 'cherry', 'banana', 'apple')

# Iteration over Tupple

In [4]:
for i in thistple:
    print(i)

apple
banana
cherry
orange

# Len

In [5]:
len(thistple)

4

# Count

In [7]:
thistple = ("apple", "banana", "cherry", "orange")

thistple.count('apple')

1

# Appearence

In [6]:
"apple" in thistple

True

# Add

# Remove

# Empty OR Delete

In [8]:
'''Clear'''
'''To empty the list:'''
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

abc.clear()
print(abc)

AttributeError: 'tuple' object has no attribute 'clear'

In [10]:
'''Delete'''
'''To delete the Data Completely'''
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

del abc

In [11]:
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')
#Method One
abc.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [13]:
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

#Method Two
newTupple = abc
newTupple

('pineapple', 'banana', 'kiwi', 'orange', 'orange')

# Join tuple

In [14]:
# Tupple Example
abc = ("a", "b" , "c")
xyz = (1, 2, 3)

ddd = abc + xyz 
print(ddd)

('a', 'b', 'c', 1, 2, 3)

In [8]:
abc.extend(xyz)

AttributeError: 'tuple' object has no attribute 'extend'

# index of an Element

In [16]:
'''Index of the element with the specified value'''
tupeOne = ("a", "b" , "c", "c", "c")

tupeOne.index('b')

1

# Sorting

In [17]:
# Does Not Modify the Original: It creates and returns a new sorted list, leaving the original iterable unchanged.
# this method is not memory Efficient
tupeOne = ("a", "b" , "c", "c", "c")

print(sorted(tupeOne,reverse=True))

print(tupeOne)

['c', 'c', 'c', 'b', 'a']
('a', 'b', 'c', 'c', 'c')

In [18]:
# Modifies the Original List: It changes the original list and does not return a new list.
# In-Place Sorting: Since it modifies the original list, it uses less memory compared to sorted().

tupeOne = ("a", "b" , "c", "c", "c")
abc = tupeOne.sort(reverse=True)
print(tupeOne)

AttributeError: 'tuple' object has no attribute 'sort'

# Converting Tupple to Dict

In [19]:

abc = ("apple", "banana", "cherry", "orange")
xyz = (1, 2, 3, 4,5,6)
dict(zip(abc,xyz))

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4}

In [18]:
# Creating a tuple from a list
listOne = [1, 2, 3]
print(listOne)
tuple(listOne)

[1, 2, 3]

(1, 2, 3)

In [16]:
# Creating an empty tuple
empty_tuple = ()
empty_tuple

()

In [19]:
# Checking if an element is in a tuple
tuple1 = (1, 2, 3)
2 in tuple1  # Output: True

True

In [20]:
5 in tuple1  # Output: False

False

In [21]:
# Finding the index of an element
thistple = ("apple", "banana", "cherry", "orange")

thistple.index("apple")

0

In [22]:
# Counting occurrences of an element
thistple = ("apple","apple", "banana", "cherry", "orange")

thistple.count("apple")

2

In [24]:
thistple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [23]:
# Sorting a tuple by converting to a list
sorted(thistple)  # Requires tuple elements to be comparable

['apple', 'apple', 'banana', 'cherry', 'orange']

('orange', 'cherry', 'banana', 'apple', 'apple')