# Create Tuple

In [4]:
thistple = ("apple", "banana", "cherry", "orange")

# using constructor
thistple = tuple(("apple", "banana", "cherry", "orange"))
type(thistple)

tuple

In [ ]:
# support indexing and Slicing : 
# Immutable : we can not make any changes once tuple is created
# Holds Duplicate Values

# Slicing

In [6]:
# exctact emelemnt from the give data type Tuple 

thistple = ("apple", "banana", "cherry", "orange")
# +ve          0         1         2         3
# -ve         -4        -3        -2        -1
thistple

('apple', 'banana', 'cherry', 'orange')

In [15]:
# Slicing
thistple[-1]

'orange'

# Reverse

In [19]:
# Reversing a tuple by converting to a list
thistple = ("apple", "banana", "cherry", "orange")
reveTplt = reversed(thistple)
type(reveTplt)
tuple(reveTplt)

('orange', 'cherry', 'banana', 'apple')

In [29]:
# Splicing [::-1]
thistple = ("apple", "banana", "cherry", "orange")
thistple
thistple[::-1]

('orange', 'cherry', 'banana', 'apple')

# Iteration over Tupple

In [ ]:
for i in thistple:
    print(i)

# Len

In [30]:
thistple = ("apple", "banana", "cherry", "orange")
len(thistple)

4

# Count

In [32]:
thistple = ("apple", "banana", "cherry","cherry", "orange")

thistple.count("cherry")

2

# Appearence

In [38]:
thistple = ("apple", "banana", "cherry", "orange")

thistple01 = ("1111", "222", "333", "4444")

"1111" in thistple01

True

# Add

# Remove

# Empty OR Delete

In [42]:
'''Clear'''
'''To empty the list:'''
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

abc.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [7]:
'''Delete'''
'''To delete the Data Completely'''
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

del abc

# Copy

In [43]:
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')
#Method One
abc.copy()
abc

AttributeError: 'tuple' object has no attribute 'copy'

In [44]:
abc = ('pineapple', 'banana', 'kiwi', 'orange', 'orange')

#Method Two
newTupple = abc
newTupple

('pineapple', 'banana', 'kiwi', 'orange', 'orange')

# Join tuple

In [55]:
# Tupple Example a new tuple will get create
abc = ("a", "b" , "c")
xyz = (1, 2, 3)

newTup = abc+xyz
newTup
xyz

(1, 2, 3)

In [57]:
abc.extend(xyz)

AttributeError: 'tuple' object has no attribute 'extend'

# index of an Element

In [61]:
'''Index of the element with the specified value'''
tupeOne = ("a", "b" , "c","Raj","Sunil")

tupeOne.index("Sunil")

4

# Sorting

In [67]:
# Does Not Modify the Original: It creates and returns a new sorted list, leaving the original tuple(iterable) unchanged.
# this method is not memory Efficient
tupeOne = (3,1,4,2)

print(tupeOne)
abc = sorted(tupeOne)
tuple(abc)

(3, 1, 4, 2)

(1, 2, 3, 4)

In [69]:
tupeOne = ("a", "b" , "c", "c", "c")

tupeOne.sort()

AttributeError: 'tuple' object has no attribute 'sort'

# Converting Tupple to Dict

In [75]:

abc = ("apple", "banana", "cherry", "orange")
xyz = (1,2,3,4,5,6)

dict(zip(xyz,abc))

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'orange'}

In [76]:
# Creating a tuple from a list
listOne = [1, 2, 3]

tuple(listOne)

(1, 2, 3)

In [77]:
# Creating an empty tuple
abc_tupe = ()
abc_tupe

()