In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a0e51e27a75529b7e4caf7df588c59f12278d33774d13d16ae605583e6754534
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Pracice").getOrCreate()

In [ ]:

from pyspark.sql import SparkSession

filePath = "/content/sample_data/file.csv"


df = spark.read.csv(filePath, header=True, inferSchema=True)



print(df)

DataFrame[Airline: string, Date_of_Journey: string, Dep_Time: timestamp, Arrival_Time: timestamp, Dept_Hour: int, Dept_Minute: int, Arrival_Hour: int, Arrival_Minute: int]

In [ ]:

df.show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Show the first few rows of the DataFrame
df.head(5)

[Row(Airline='IndiGo', Date_of_Journey='24-03-2019', Dep_Time=datetime.datetime(2024, 3, 31, 22, 20), Arrival_Time=datetime.datetime(2024, 3, 31, 1, 10), Dept_Hour=10, Dept_Minute=20, Arrival_Hour=1, Arrival_Minute=10),
 Row(Airline='Air India', Date_of_Journey='01-05-2019', Dep_Time=datetime.datetime(2024, 3, 31, 5, 50), Arrival_Time=datetime.datetime(2024, 3, 31, 13, 15), Dept_Hour=None, Dept_Minute=50, Arrival_Hour=13, Arrival_Minute=15),
 Row(Airline='Jet Airways', Date_of_Journey='09-06-2019', Dep_Time=datetime.datetime(2024, 3, 31, 9, 25), Arrival_Time=datetime.datetime(2024, 3, 31, 4, 25), Dept_Hour=None, Dept_Minute=25, Arrival_Hour=4, Arrival_Minute=25),
 Row(Airline='IndiGo', Date_of_Journey='12-05-2019', Dep_Time=datetime.datetime(2024, 3, 31, 18, 5), Arrival_Time=datetime.datetime(2024, 3, 31, 23, 30), Dept_Hour=None, Dept_Minute=5, Arrival_Hour=23, Arrival_Minute=30),
 Row(Airline='IndiGo', Date_of_Journey='01-03-2019', Dep_Time=datetime.datetime(2024, 3, 31, 16, 50), Arrival_Time=datetime.datetime(2024, 3, 31, 21, 35), Dept_Hour=16, Dept_Minute=50, Arrival_Hour=21, Arrival_Minute=35)]

In [ ]:
df.tail(4)

[Row(Airline='Jet Airways', Date_of_Journey='12-03-2019', Dep_Time=datetime.datetime(2024, 3, 31, 10, 25), Arrival_Time=datetime.datetime(2024, 3, 31, 18, 55), Dept_Hour=10, Dept_Minute=25, Arrival_Hour=18, Arrival_Minute=55),
 Row(Airline='Jet Airways', Date_of_Journey='01-03-2019', Dep_Time=datetime.datetime(2024, 3, 31, 5, 5), Arrival_Time=datetime.datetime(2024, 3, 31, 8, 0), Dept_Hour=5, Dept_Minute=5, Arrival_Hour=8, Arrival_Minute=0),
 Row(Airline='Jet Airways', Date_of_Journey='12-03-2019', Dep_Time=datetime.datetime(2024, 3, 31, 8, 55), Arrival_Time=datetime.datetime(2024, 3, 31, 10, 25), Dept_Hour=8, Dept_Minute=55, Arrival_Hour=10, Arrival_Minute=25),
 Row(Airline='Multiple carriers', Date_of_Journey='27-05-2019', Dep_Time=datetime.datetime(2024, 3, 31, 11, 25), Arrival_Time=datetime.datetime(2024, 3, 31, 19, 15), Dept_Hour=11, Dept_Minute=25, Arrival_Hour=19, Arrival_Minute=15)]

In [ ]:
df.printSchema()

root
 |-- Airline: string (nullable = true)
 |-- Date_of_Journey: string (nullable = true)
 |-- Dep_Time: timestamp (nullable = true)
 |-- Arrival_Time: timestamp (nullable = true)
 |-- Dept_Hour: integer (nullable = true)
 |-- Dept_Minute: integer (nullable = true)
 |-- Arrival_Hour: integer (nullable = true)
 |-- Arrival_Minute: integer (nullable = true)

In [ ]:
# Know the DataType
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.dtypes

[('Airline', 'string'),
 ('Date_of_Journey', 'string'),
 ('Dep_Time', 'timestamp'),
 ('Arrival_Time', 'timestamp'),
 ('Dept_Hour', 'int'),
 ('Dept_Minute', 'int'),
 ('Arrival_Hour', 'int'),
 ('Arrival_Minute', 'int')]

In [ ]:
df.distinct().show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
df.dropDuplicates().show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Describe dataframe
df.describe().show()

+-------+---------+---------------+-----------------+------------------+------------------+-----------------+
|summary|  Airline|Date_of_Journey|        Dept_Hour|       Dept_Minute|      Arrival_Hour|   Arrival_Minute|
+-------+---------+---------------+-----------------+------------------+------------------+-----------------+
|  count|       17|             17|               14|                17|                17|               17|
|   mean|     NULL|           NULL|9.071428571428571|23.529411764705884|12.941176470588236|24.11764705882353|
| stddev|     NULL|           NULL|2.921124275508838|19.183709387976897| 6.309423391199212|18.04813824519435|
|    min|Air India|     01-03-2019|                5|                 0|                 1|                0|
|    max| SpiceJet|     27-05-2019|               16|                55|                23|               55|
+-------+---------+---------------+-----------------+------------------+------------------+-----------------+

In [ ]:
# print column/columns
df.select(["Airline"]).show()

+-----------------+
|          Airline|
+-----------------+
|           IndiGo|
|        Air India|
|      Jet Airways|
|           IndiGo|
|           IndiGo|
|         SpiceJet|
|      Jet Airways|
|      Jet Airways|
|         SpiceJet|
|      Jet Airways|
|      Jet Airways|
|      Jet Airways|
|Multiple carriers|
|      Jet Airways|
|      Jet Airways|
|      Jet Airways|
|Multiple carriers|
+-----------------+

In [ ]:
df.select(["Airline","Date_of_Journey"]).show()

+-----------------+---------------+
|          Airline|Date_of_Journey|
+-----------------+---------------+
|           IndiGo|     24-03-2019|
|        Air India|     01-05-2019|
|      Jet Airways|     09-06-2019|
|           IndiGo|     12-05-2019|
|           IndiGo|     01-03-2019|
|         SpiceJet|     24-06-2019|
|      Jet Airways|     12-03-2019|
|      Jet Airways|     01-03-2019|
|         SpiceJet|     24-06-2019|
|      Jet Airways|     12-03-2019|
|      Jet Airways|     01-03-2019|
|      Jet Airways|     12-03-2019|
|Multiple carriers|     27-05-2019|
|      Jet Airways|     12-03-2019|
|      Jet Airways|     01-03-2019|
|      Jet Airways|     12-03-2019|
|Multiple carriers|     27-05-2019|
+-----------------+---------------+

In [ ]:
# Add New Columns
# create a column showing that all flight are coming 10 min late

df1 = df.withColumn("New_Arrival_Minute",df['Arrival_Minute']+10)
df1.show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+------------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|New_Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+------------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|                20|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|                25|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|                35|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|                40|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|                45|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|                35|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|                65|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|                10|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|                35|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|                65|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|                10|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|                35|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|                25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|                65|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|                10|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|                35|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|                25|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+------------------+

In [ ]:
# Rename the column
df.withColumnRenamed('Airline',"Flight").show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           Flight|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Drop A Column/Columns

df.drop('Dep_Time').show()

+-----------------+---------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Drop A Column/Columns
df.drop('Arrival_Time','Dept_Minute','Dep_Time','Dept_Hour','Arrival_Hour').show()

+-----------------+---------------+--------------+
|          Airline|Date_of_Journey|Arrival_Minute|
+-----------------+---------------+--------------+
|           IndiGo|     24-03-2019|            10|
|        Air India|     01-05-2019|            15|
|      Jet Airways|     09-06-2019|            25|
|           IndiGo|     12-05-2019|            30|
|           IndiGo|     01-03-2019|            35|
|         SpiceJet|     24-06-2019|            25|
|      Jet Airways|     12-03-2019|            55|
|      Jet Airways|     01-03-2019|             0|
|         SpiceJet|     24-06-2019|            25|
|      Jet Airways|     12-03-2019|            55|
|      Jet Airways|     01-03-2019|             0|
|      Jet Airways|     12-03-2019|            25|
|Multiple carriers|     27-05-2019|            15|
|      Jet Airways|     12-03-2019|            55|
|      Jet Airways|     01-03-2019|             0|
|      Jet Airways|     12-03-2019|            25|
|Multiple carriers|     27-05-2019|            15|
+-----------------+---------------+--------------+

In [ ]:
# Drop Na
df.na.drop().show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Drop Na
df.dropna().show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# drop na from specific column
df.na.drop(subset=['Dept_Hour']).show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
df.show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# fill na with specific value

df.na.fill(30).show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|       30|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|       30|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|       30|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# fill na with specific value
df.fillna(5).show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|        5|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|        5|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|        5|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Fill na with some value
from pyspark.sql.functions import mean

meanVlaue = df.select(mean(df['Dept_Hour'])).collect()[0][0]



meanVlaue

9.071428571428571

In [ ]:
df.na.fill(meanVlaue).show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|        9|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|        9|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|        9|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
df.show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|           IndiGo|     12-05-2019|2024-03-31 18:05:00|2024-03-31 23:30:00|     NULL|          5|          23|            30|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Fliter operation

df.filter(df["Dept_Minute"]>5).show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|        Air India|     01-05-2019|2024-03-31 05:50:00|2024-03-31 13:15:00|     NULL|         50|          13|            15|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|           IndiGo|     01-03-2019|2024-03-31 16:50:00|2024-03-31 21:35:00|       16|         50|          21|            35|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
# Filter and print only 'Dep_Time','Arrival_Time'
df.filter(df["Dept_Hour"]<=9).select(['Dep_Time','Arrival_Time','Dept_Hour','Dept_Minute']).show()

+-------------------+-------------------+---------+-----------+
|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|
+-------------------+-------------------+---------+-----------+
|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|
|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|
|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|
|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|
|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|
|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|
|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|
+-------------------+-------------------+---------+-----------+

In [ ]:
# filter with two conditions
# df.filter((condition01) operator (condition02)).show()

df.filter((df['Dept_Hour']<=12) | (df['Arrival_Hour']<=5)).show()

+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|          Airline|Date_of_Journey|           Dep_Time|       Arrival_Time|Dept_Hour|Dept_Minute|Arrival_Hour|Arrival_Minute|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+
|           IndiGo|     24-03-2019|2024-03-31 22:20:00|2024-03-31 01:10:00|       10|         20|           1|            10|
|      Jet Airways|     09-06-2019|2024-03-31 09:25:00|2024-03-31 04:25:00|     NULL|         25|           4|            25|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|         SpiceJet|     24-06-2019|2024-03-31 09:00:00|2024-03-31 11:25:00|        9|          0|          11|            25|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
|      Jet Airways|     12-03-2019|2024-03-31 10:25:00|2024-03-31 18:55:00|       10|         25|          18|            55|
|      Jet Airways|     01-03-2019|2024-03-31 05:05:00|2024-03-31 08:00:00|        5|          5|           8|             0|
|      Jet Airways|     12-03-2019|2024-03-31 08:55:00|2024-03-31 10:25:00|        8|         55|          10|            25|
|Multiple carriers|     27-05-2019|2024-03-31 11:25:00|2024-03-31 19:15:00|       11|         25|          19|            15|
+-----------------+---------------+-------------------+-------------------+---------+-----------+------------+--------------+

In [ ]:
## Group By and Aggregate Function
df.groupBy('Airline').count().show()

+-----------------+-----+
|          Airline|count|
+-----------------+-----+
|        Air India|    1|
|         SpiceJet|    2|
|      Jet Airways|    9|
|           IndiGo|    3|
|Multiple carriers|    2|
+-----------------+-----+

In [ ]:
df.groupBy('Airline').sum().show()

+-----------------+--------------+----------------+-----------------+-------------------+
|          Airline|sum(Dept_Hour)|sum(Dept_Minute)|sum(Arrival_Hour)|sum(Arrival_Minute)|
+-----------------+--------------+----------------+-----------------+-------------------+
|        Air India|          NULL|              50|               13|                 15|
|         SpiceJet|            18|               0|               22|                 50|
|      Jet Airways|            61|             225|              102|                240|
|           IndiGo|            26|              75|               45|                 75|
|Multiple carriers|            22|              50|               38|                 30|
+-----------------+--------------+----------------+-----------------+-------------------+

In [ ]:
df.groupBy('Airline').mean().show()

+-----------------+--------------+----------------+------------------+-------------------+
|          Airline|avg(Dept_Hour)|avg(Dept_Minute)| avg(Arrival_Hour)|avg(Arrival_Minute)|
+-----------------+--------------+----------------+------------------+-------------------+
|        Air India|          NULL|            50.0|              13.0|               15.0|
|         SpiceJet|           9.0|             0.0|              11.0|               25.0|
|      Jet Airways|         7.625|            25.0|11.333333333333334| 26.666666666666668|
|           IndiGo|          13.0|            25.0|              15.0|               25.0|
|Multiple carriers|          11.0|            25.0|              19.0|               15.0|
+-----------------+--------------+----------------+------------------+-------------------+

In [ ]:
# JOINING AND MERGING

In [ ]:
# Create a list of dictionaries containing sample data
data = [{"Name": "John", "Age": 25},
        {"Name": "Alice", "Age": 30},
        {"Name": "Bob", "Age": 35}]

# Create DataFrame using the list of dictionaries
df = spark.createDataFrame(data)
df.show()

+---+-----+
|Age| Name|
+---+-----+
| 25| John|
| 30|Alice|
| 35|  Bob|
+---+-----+

In [ ]:
df = spark.createDataFrame(data)
df.show()

+---+-----+
|Age| Name|
+---+-----+
| 25| John|
| 30|Alice|
| 35|  Bob|
+---+-----+

+---+-----+
|Age| Name|
+---+-----+
| 25| John|
| 30|Alice|
| 35|  Bob|
+---+-----+

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("JoinExample").getOrCreate()

# Sample data for DataFrame1
data1 = [("Alice", 1),("Charlie", 2),("Bob", 3)]

columns1 = ["name1", "value1"]

df1 = spark.createDataFrame(data=data1, schema=columns1)

df1.show()

+-------+------+
|  name1|value1|
+-------+------+
|  Alice|     1|
|Charlie|     2|
|    Bob|     3|
+-------+------+

In [ ]:
# Sample data for DataFrame2
data2 = [("Alice", 10), ("Bob", 20), ("David", 30)]
columns2 = ["name2", "value2"]

df2 = spark.createDataFrame(data=data2, schema=columns2)
df2.show()

+-----+------+
|name2|value2|
+-----+------+
|Alice|    10|
|  Bob|    20|
|David|    30|
+-----+------+

In [ ]:
# Joining DataFrames
commonColumns = df1["name1"] == df2["name2"]

df1.join(df2, on = commonColumns, how="outer").show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|    Bob|     3|  Bob|    20|
|Charlie|     2| NULL|  NULL|
|   NULL|  NULL|David|    30|
+-------+------+-----+------+

In [ ]:
# Outer Join Example
df1.join(df2, on=commonColumns, how="inner").show()

+-----+------+-----+------+
|name1|value1|name2|value2|
+-----+------+-----+------+
|Alice|     1|Alice|    10|
|  Bob|     3|  Bob|    20|
+-----+------+-----+------+

In [ ]:
# Left Outer Join Example
df1.join(df2, on=commonColumns, how="left_outer").show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|Charlie|     2| NULL|  NULL|
|    Bob|     3|  Bob|    20|
+-------+------+-----+------+

In [ ]:
# Right Outer Join Example
df1.join(df2, on=commonColumns, how="right_outer").show()

+-----+------+-----+------+
|name1|value1|name2|value2|
+-----+------+-----+------+
|Alice|     1|Alice|    10|
|  Bob|     3|  Bob|    20|
| NULL|  NULL|David|    30|
+-----+------+-----+------+

In [ ]:
# Left Outer Join Example
df1.join(df2, on=commonColumns, how="left_outer").show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|Charlie|     2| NULL|  NULL|
|    Bob|     3|  Bob|    20|
+-------+------+-----+------+

In [ ]:
# Left Semi Join Example
df1.join(df2, on=commonColumns, how="left_semi").show()

+-----+------+
|name1|value1|
+-----+------+
|Alice|     1|
|  Bob|     3|
+-----+------+

In [ ]:
# Left Anti Join Example
df1.join(df2, on=commonColumns, how="left_anti").show()

+-------+------+
|  name1|value1|
+-------+------+
|Charlie|     2|
+-------+------+

In [ ]:
# Cross Join Example
newDF = df1.crossJoin(df2)
newDF.orderBy('name1','name2').show()

+-------+------+-----+------+
|  name1|value1|name2|value2|
+-------+------+-----+------+
|  Alice|     1|Alice|    10|
|  Alice|     1|  Bob|    20|
|  Alice|     1|David|    30|
|    Bob|     3|Alice|    10|
|    Bob|     3|  Bob|    20|
|    Bob|     3|David|    30|
|Charlie|     2|Alice|    10|
|Charlie|     2|  Bob|    20|
|Charlie|     2|David|    30|
+-------+------+-----+------+

In [ ]:
df1.show()

+-------+------+
|  name1|value1|
+-------+------+
|  Alice|     1|
|Charlie|     2|
|    Bob|     3|
+-------+------+

In [ ]:
df2.show()

+-----+------+
|name2|value2|
+-----+------+
|Alice|    10|
|  Bob|    20|
|David|    30|
+-----+------+